<div data-controller="nested-list">
  <template>
    <%= form.semantic_fields_for :contents, Content.new, child_index: 'NEW_RECORD' do |content| %>
      <%= byebug %>
      <%= render "content_fields", form: content %>
    <% end %>
  </template>

  <%= form.semantic_fields_for :contents do |content| %>
    <%= render "content_fields", form: content %>
  <% end %>

  <div class="nested-list__actions" data-target="nested-list.links">
    <%= button_tag "Add Content", type: 'button', class: 'button button--raised', data: { action: "click->nested-list#addRecord" } %>
  </div>
</div>
