<% is_new_record = form.object.new_record? %>

<%= content_tag :div, class: 'nested-fields', data: { controller: 'content', new_record: is_new_record } do %>
  <%= form.input :title, input_html: {disabled: form.object.static_content?} %>
  <% if form.object.static_content? %>
    <%= form.input :text, as: :string %>
  <% else %>
    <%= form.input :content_type, as: :select, collection: array_to_select_collection(Content::CONTENT_TYPES), default: Content::CONTENT_TYPES.first %>
    <%= form.input :text, as: :trix, embed_youtube: true %>
    <%= form.inputs 'Images' do %>
      <%= render 'admin/pages/image', form: form %>
    <% end %>
  <% end %>

  <% if form.object.removeable? %>
    <li class="input">
      <%= button_tag 'Remove content', type: 'button', class: 'button button--raised button--red', data: { action: 'click->nested-list#removeRecord' } %>
    </li>
    <%= form.hidden_field :_destroy %>
  <% end %>
<% end %>
