<%= semantic_form_for [:admin, resource], builder: ActiveAdmin::FormBuilder, html: {'data-controller' => 'check-modified'} do |f| %>
  <%= f.semantic_errors(*f.object.errors.keys) %>

  <div class="tabs" data-controller="tabs">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="#details">Page Details</a></li>
      <li><a href="#content">Content</a></li>
    </ul>

    <%= hidden_field_tag :active_tab, params[:active_tab], 'data-target' => 'tabs.activeTab' %>

    <div class="tab-content">

      <div id="details">
        <%= f.inputs do %>
          <%= f.input :type, as: :hidden %>
          <%= f.input :title %>
          <%= f.input :menu, as: :select, collection: array_to_select_collection(f.object.class::MENU_HEADERS) %>
          <%= f.input :description, as: :trix %>
        <% end %>
      </div>

      <div id="content">
        <%= f.inputs 'Content' do %>
          <%= render 'admin/pages/content', form: f %>
        <% end %>
      </div>
    </div>
  </div>

  <%= f.actions do %>
    <%= f.action :submit %>
    <%= f.action :cancel, :wrapper_html => { :class => 'cancel' } %>
  <% end %>
<% end %>
