<% is_new_record = form.object.new_record? %>

<%= content_tag :div, class: 'nested-fields inline-fields', data: { controller: 'image', new_record: is_new_record } do %>
  <% if is_new_record %>
    <%= form.input :logo, as: :file %>
  <% else %>
    <%= image_tag form.object.logo, style: 'height: 100px; width: 100px;' %>
  <% end %>
  <%= form.input :link %>
  <%= form.input :name %>

  <li class="input">
    <%= button_tag 'Remove image', type: 'button', class: 'button button--raised button--red', data: { action: 'click->nested-list#removeRecord' } %>
  </li>

  <%= form.hidden_field :_destroy %>
<% end %>
