<% content_for :page_title, "Climate Laws - #{@geography.name} - Climate Targets" %>

<%
  counts = Target.joins(:sector).where(geography: @geography).group('laws_sectors.name', :source).count
  list = {}

  counts.each do |key, value|
    sector_name = key[0]
    source_name = key[1]
    next unless ['law', 'policy', 'ndc'].include?(source_name)
    if list[sector_name].present?
      list[sector_name][source_name] = value
    else
      list[sector_name] = {}
      list[sector_name][source_name] = value
    end
  end
%>

<div class="container">
  <h3>Climate targets</h3>
  <ul class="content-list">
    <li class="with-meta">
      <% if @geography.eu_member? %>
        <div class="meta"><img class="flag" src=<%= asset_path "flags/EUR.svg"%> alt="">
          This country is a member of the EU and so <span class="highlight"> EU NDC data </span> is being displayed.
        </div>
      <% end %>
    </li>
    <div class="sectors-list">
      <div class="columns">
        <div class="column is-one-thirds"></div>
        <div class="column is-one-thirds column-name">Targets in NDC content</div>
        <div class="column is-one-thirds column-name">
          <span>Targets in national</span><span>laws and policies</span>
        </div>
      </div>

      <% list.each do |sector, targets| %>
        <a href="#" class="columns item active">
          <div class="column is-one-thirds sector-name"><%= sector %></div>
          <div class="column is-one-thirds value">
            <% if targets['ndc'].present? %>
              <div class="current-circle">
                <%= targets['ndc'] %>
              </div>
            <% else %>
              <div class="empty-circle"></div>
            <% end %>
          </div>
          <div class="column is-one-thirds value">
            <% if (targets['law'] || 0) + (targets['policy'] || 0) %>
              <div class="current-circle">
                <%= (targets['law'] || 0) + (targets['policy'] || 0)%>
              </div>
            <% else %>
              <div class="empty-circle"></div>
            <% end %>
          </div>
        </a>
      <% end %>

      <% (LawsSector.select(:name).map(&:name) - list.keys).each do |sector| %>
        <a href="javascript:void(0);" class="columns item">
          <div class="column is-one-thirds sector-name"><%= sector %></div>
          <div class="column is-one-thirds value"><div class="empty-circle"></div></div>
          <div class="column is-one-thirds value"><div class="empty-circle"></div></div>
        </a>
      <% end %>
    </div>
  </ul>
  <div class="ndc-hint">
    <span>For further analysis of the NDC, see <%= @geography.name %> country profile on</span>
    <img src=<%= asset_path "cclow/climate_watch.png"%> alt="">
  </div>
</div>
