<%= semantic_form_for [:admin, resource], builder: ActiveAdmin::FormBuilder, html: {'data-controller' => 'check-modified'} do |f| %>
  <%= f.semantic_errors(*f.object.errors.keys) %>

  <div class="tabs" data-controller="tabs">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="#details">Details</a></li>
      <li><a href="#events">Events</a></li>
    </ul>

    <%= hidden_field_tag :active_tab, params[:active_tab], 'data-tabs-target' => 'activeTab' %>

    <div class="tab-content">
      <div id="details">
        <%= f.inputs do %>
          <%= f.input :geography, collection: Geography.order(:name) %>
          <%= f.input :target_type, as: :select, collection: array_to_select_collection(Target::TYPES) %>
          <%= f.input :source, as: :select, collection: array_to_select_collection(Target::SOURCES) %>
          <%= f.input :description, as: :trix %>
          <%= f.input :sector %>
          <%= f.input :ghg_target %>
          <%= f.input :single_year, hint: 'single or multi year target' %>
          <%= f.input :year %>
          <%= f.input :base_year_period %>
          <%= f.input :scope_ids, label: 'Scopes', as: :tags, collection: Scope.ordered_by_name %>
          <%= f.input :legislation_ids, as: :selected_list, label: 'Connected Laws', url: filter_admin_legislations_path, display_name: :display_name %>
          <%= f.input :visibility_status, as: :select %>
        <% end %>
      </div>

      <div id="events">
        <%= f.inputs 'List of target\'s events' do %>
          <%= render 'admin/events/list', form: f %>
        <% end %>
      </div>
    </div>
  </div>

  <%= f.actions do %>
    <%= f.action :submit %>
    <%= f.action :cancel, :wrapper_html => { :class => 'cancel' } %>
  <% end %>
<% end %>
