<div class="container">
  <div class="columns">
    <div class="column is-10 is-offset-1 testimonials">
      <div class="columns">
        <a class="testimonials__control left">&#8592;</a>
        <a class="testimonials__control right">&#8594;</a>
        <div class="column is-2 testimonials__quote">
          <img src="<%= asset_path 'quote.svg' %>" alt="">
        </div>
        <div class="column is-8">
          <figure class="image is-92x92">
            <img src="<%= asset_path 'lee_van_cleef.jpg' %>" class="is-rounded testimonials__avatar" alt="">
          </figure>

          <div class="testimonials__content">
            <p>Oh I almost forgot. He gave me a thousand. I think his idea was that I kill you.</p>
            <p>But you know the pity is when I'm paid, I always follow my job through. You know that.</p>
          </div>

          <div class="testimonials__author">
            <p>Lee Van Cleef as Angel Eyes</p>
            <p>Golden Boot Award Winner</p>
          </div>

        </div>
        <div class="testimonials__pagination">
          <a class="page active"></a>
          <a class="page"></a>
          <a class="page"></a>
        </div>
      </div>

      <div class="columns">
        <div class="column is-2 testimonials__quote">
          <img src="<%= asset_path 'quote.svg' %>" alt="">
        </div>
        <div class="column is-8">
          <figure class="image is-92x92">
            <img src="<%= asset_path 'eli_wallach.jpg' %>" class="is-rounded testimonials__avatar" alt="">
          </figure>

          <div class="testimonials__content">
            <p>I... I must tell you the truth, Blondie. In my place, you would do the same thing. It's all over for you now. There's nothing anyone can do any more.</p>
            <p>Oh, God, forgive me! It's my fault!</p>
          </div>

          <div class="testimonials__author">
            <p>Eli Wallach as Tuco</p>
            <p>Academy Award Honorary Winner</p>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-2 testimonials__quote">
          <img src="<%= asset_path 'quote.svg' %>" alt="">
        </div>
        <div class="column is-8">
          <figure class="image is-92x92">
            <img src="<%= asset_path 'clint_eastwood.jpg' %>" class="is-rounded testimonials__avatar" alt="">
          </figure>

          <div class="testimonials__content">
            <p>You see in this world there are two kinds of people my friend. Those with loaded guns, and those who dig. You dig.</p>
          </div>

          <div class="testimonials__author">
            <p>Clint Eastwood as Blondie</p>
            <p>Four-time Academy Award Winner</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
