<% content_for :page_title, 'Home - Transition Pathway Initiative' %>

<section class="section tpi-home__hero is-primary">
  <div class="background"></div>
  <div class="container">
    <div class="columns">
      <div class="column is-5 left-size">
        <div class="title">
          <h1><%= @home_content[:intro][:title] %></h1>
        </div>
        <div class="description">
          <p class="content">
            <%= @home_content[:intro][:description] %>
          </p>
        </div>
        <div class="button__container">
          <%= link_to 'About TPI', tpi_about_path, class: 'button is-red button__hero' %>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
     <section class="section tpi-home__hero is-secondary">
     <div class="container tpi-hero__body">
     <div class="columns">
     <%= link_to '/investors', class: "column is-5 section-clickable" do %>
     <div class="subsection-content__container">
     <h2 class="section-title is-size-4">
     <%= @home_content[:investors][:title] %>
     </h2>

     <p class="section-description">
     <%= @home_content[:investors][:description] %>
     </p>
     </div>

     <div class="subsection-link__container">
     <span class="link__icon"></span>
     <span class="link__title">TPI for investors</span>
     </div>
     <% end %>

     <div class="column is-2 separator__container">
     <div class="separator"></div>
     </div>

     <%= link_to '/supporters', class: "column is-5 section-clickable" do %>
     <div class="subsection-content__container">
     <h2 class="section-title is-size-4">
     <%= @home_content[:supporters][:title] %>
     </h2>

     <p class="section-description">
     <%= @home_content[:supporters][:description] %>
     </p>
     </div>

     <div class="subsection-link__container">
     <span class="link__icon"></span>
     <span class="link__title">Who supports the TPI?</span>
     </div>
     <% end %>
     </div>
     </div>
     </section> -->

<section class="section tpi-home__assessment-types">
  <div class="container">
    <h2 class="section-title is-size-4">
      Check out the TPI Centre's online tool
    </h2>

    <div class="container">
      <div class="section-description">
        <%= link_to tpi_sectors_path, class: 'assessment-box publicly-listed-equities' do %>
          <div class="assessment-box__header">Climate assessments:</div>
          <div class="assessment-box__title">Publicly listed equites</div>
        <% end %>
        <%= link_to tpi_banks_path, class: 'assessment-box banks' do %>
          <div class="assessment-box__header">Climate assessments:</div>
          <div class="assessment-box__title">Banks</div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section tpi-home__stats-news">
  <div class="container">
    <div class="tpi-home__stats-news__stats">
      <h2 class="section-title is-size-4">
        The TPI Centre at a glance
      </h2>

      <div class="section-description">
        <h3 class="is-size-5">
          Supporters
        </h3>

        <div class="stat-boxes">
          <div class="stat-box stat-box--supporters">
            <div class="stat-box__number">125</div>
            <div class="stat-box__title">Supporters</div>
          </div>

          <div class="stat-box stat-box--combined-aum">
            <div class="stat-box__number">$45tn</div>
            <div class="stat-box__title">Combined AUM</div>
          </div>
        </div>

        <h3 class="is-size-5">
          Companies
        </h3>

        <div class="stat-boxes">
          <div class="stat-box stat-box--companies">
            <div class="stat-box__number">125</div>
            <div class="stat-box__title">Companies</div>
          </div>

          <div class="stat-box stat-box--sectors">
            <div class="stat-box__number">$45tn</div>
            <div class="stat-box__title">Sectors</div>
          </div>

          <div class="stat-box stat-box--countries">
            <div class="stat-box__number">125</div>
            <div class="stat-box__title">Countries</div>
          </div>

          <div class="stat-box stat-box--market-cap">
            <div class="stat-box__number">$10tn</div>
            <div class="stat-box__title">Total Market Cap</div>
          </div>
        </div>

        <h3 class="is-size-5">
          Sectoral Benchmarks
        </h3>

        <div class="stat-boxes stat-boxes--benchmarks">
          <div class="stat-box-b">
            <div class="stat-box-b__number">2</div>
            <div class="stat-box-b__title">Benchmarks for energy</div>
            <%= svg "tpi/home/electric-factory" %>
            <div class="stat-box-b__sectors">Electricity, Oil & Gas</div>
          </div>
          <div class="stat-box-b">
            <div class="stat-box-b__number">3</div>
            <div class="stat-box-b__title">Benchmarks for transport</div>
            <%= svg "tpi/home/transportation" %>
            <div class="stat-box-b__sectors">Autos, Aviation, Shipping</div>
          </div>
          <div class="stat-box-b stat-box-b--benchmarks">
            <div class="stat-box-b__number">5</div>
            <div class="stat-box-b__title">Benchmarks for industrials and materials</div>
            <%= svg "tpi/home/construction" %>
            <div class="stat-box-b__sectors">Aluminium, Cement, Diversified Mining, Paper, Steel</div>
          </div>
        </div>
      </div>
    </div>
    <div class="tpi-home__stats-news__news">
      <h2 class="is-size-4">
        Follow our latest news
      </h2>

      <div class="section-description">
        <a class="twitter-timeline" data-height="600" data-dnt="true" data-theme="dark" href="https://twitter.com/tp_initiative?ref_src=twsrc%5Etfw">Tweets by tp_initiative</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <div class="news-more">
          <div class="news-more__learn-more">
            <h3>
              Learn more
            </h3>

            <div>
              <%= link_to tpi_publications_path, class: "with-icon" do %>
                <i class="icon icon__news"></i>
                News and publications
              <% end %>

              <%= link_to tpi_publications_path, class: "with-icon" do %>
                <i class="icon icon__events"></i>
                Events
              <% end %>
            </div>
          </div>

          <div class="news-more__social-media">
            <h3>
              Social Media
            </h3>

            <div>
              <a href="https://twitter.com/tp_initiative" class="icon icon__twitter" aria-label="Twitter"></a>
              <a href="https://www.linkedin.com/company/transition-pathway-initiative-tpi/" class="icon icon__linkedin" aria-label="Linkedin"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section tpi-home__promoted-publications">
  <div class="container">
    <div class="promoted-publications__title">
      <h2 class="is-size-4 promoted-publications__title-text">Publications and news</h2>

      <%= link_to 'View all publications and news', tpi_publications_path, class: 'button is-secondary is-hidden-touch' %>
    </div>

    <%= render "tpi/publications/promoted", publications_and_articles: @publications_and_articles %>
    <a href="/publications" class="view-all-button button is-secondary is-hidden-desktop">View all publications and news</a>
  </div>
</section>

<hr />

<section class="section partners">
  <%= render "partners" %>
</section>

<hr class="is-hidden-touch" />

<section class="section testemonials">
  <%= render "testimonials" %>
</section>
