<% content_for :page_title, 'Home - Transition Pathway Initiative' %>

<section class="section tpi-home__hero">
  <div class="background"></div>
  <div class="container">
    <div class="tpi-home__hero__title">
      <div>
        <%= link_to 'TPI Centre', '/overview', class: 'button is-primary button__hero' %>
        <p class="tpi-home__hero__title__description content">
          Click above to learn more about our academic research and data
        </p>
      </div>
      <div>
        <%= link_to 'TPI Ltd', '/supporters', class: 'button is-primary button__hero' %>
        <p class="tpi-home__hero__title__description content">
          Click above to learn more about our history and investor network
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section tpi-home__assessment-types">
  <div class="container">
    <h2 class="section-title is-size-5-mobile is-size-2">
      Check out the TPI Centre's online tool
    </h2>

    <div class="container">
      <div class="section-description">
        <%= link_to tpi_sectors_path, class: 'assessment-box' do %>
          <div class="assessment-box__title"><span>Corporates: CP&nbsp;&&nbsp;MQ</span></div>
        <% end %>
        <%= link_to tpi_corporate_bond_issuers_path, class: 'assessment-box' do %>
          <div class="assessment-box__title"><span>Corporates: CA100+</span></div>
        <% end %>
        <%= link_to tpi_banks_path, class: 'assessment-box' do %>
          <div class="assessment-box__title"><span>Banks</span></div>
        <% end %>
        <%= link_to tpi_ascor_index_path, class: 'assessment-box' do %>
          <div class="assessment-box__title"><span>Sovereigns: ASCOR</span></div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section tpi-home__stats-news">
  <div class="container">
    <h2 class="section-title is-size-5-mobile is-size-2">
      At a Glance
    </h2>

    <div class="at-glance-container">
      <div class="tpi-home__stats-news__stats at-glance-container__first">
        <h3>
          Networks
        </h3>

        <div class="stat-boxes">
          <div class="stat-box">
            <div class="stat-box__icon"><%= image_tag 'tpi/home/supporters.png' %></div>
            <div class="stat-box__content">
              <div class="stat-box__number"><%= @home_content[:stats][:supporters_count] %></div>
              <div class="stat-box__title">Supporters</div>
            </div>
          </div>

          <div class="stat-box">
            <div class="stat-box__icon"><%= image_tag 'tpi/home/aum.png' %></div>
            <div class="stat-box__content">
              <div class="stat-box__number"><%= @home_content[:stats][:combined_aum] %></div>
              <div class="stat-box__title">AUM</div>
            </div>
          </div>
        </div>

        <h3>
          Assessed Entities
        </h3>

        <div class="stat-boxes">
          <div class="stat-box">
            <div class="stat-box__icon"><%= image_tag 'tpi/home/corporate-management-quality.png' %></div>
            <div class="stat-box__content">
              <div class="stat-box__number">Corporate:<br />Management<br />Quality</div>
              <div class="stat-box__title">TODO</div>
            </div>
          </div>

          <div class="stat-box">
            <div class="stat-box__icon"><%= image_tag 'tpi/home/corporate-carbon-performance.png' %></div>
            <div class="stat-box__content">
              <div class="stat-box__number">Corporate:<br />Carbon<br />Performance</div>
              <div class="stat-box__title">TODO</div>
            </div>
          </div>

          <div class="stat-box">
            <div class="stat-box__icon"><%= image_tag 'tpi/home/location.svg' %></div>
            <div class="stat-box__content">
              <div class="stat-box__number">Sovereigns:<br />ASCOR</div>
              <div class="stat-box__title"><%= @home_content[:stats][:ascor_countries] %></div>
            </div>
          </div>

          <div class="stat-box">
            <div class="stat-box__icon"><%= image_tag 'tpi/home/banks.png' %></div>
            <div class="stat-box__content">
              <div class="stat-box__number">Banks</div>
              <div class="stat-box__title"><%= @home_content[:stats][:banks] %></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tpi-home__stats-news__stats">
        <h3>
          CP Sectoral Benchmarks
        </h3>

        <div class="stat-boxes">
          <%= render 'sector_cluster_stat', cluster: @sector_clusters['energy'], icon: 'tpi/home/energy.png' %>
          <%= render 'sector_cluster_stat', cluster: @sector_clusters['transport'], icon: 'tpi/home/transport.png' %>
          <%= render 'sector_cluster_stat', cluster: @sector_clusters['industry'], icon: 'tpi/home/industry.png' %>
          <%= render 'sector_cluster_stat', cluster: @sector_clusters['food'], icon: 'tpi/home/food.png' %>
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="section tpi-home__case-studies-supporters">
    <div class="container">
      <h2 class="section-title is-size-5-mobile is-size-2">
        Become a Supporter
      </h2>

      <div class="benefits">
        <span class="subtitle">Benefits</span>
        <ul>
          <li>Be part of a global investor community</li>
          <li>Better inform your investment research</li>
          <li>Show your commitment to the low carbon economy</li>
          <li>Zero cost</li>
        </ul>
      </div>
      <br />
      <div class="how-to-join">
        <span class="subtitle">How to join</span>
        <p>
          To become a recognised TPI Supporter or Research Funding Partner, please contact <a href="mailto:info@transitionpathwayinitiative.org">info@transitionpathwayinitiative.org</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section tpi-home__latest-research">
  <div class="container">
    <h2 class="section-title is-size-5-mobile is-size-2">
      In The Press
    </h2>

    <div class="section-description">
      <div class="slider-container" data-controller="tpi-home-slider" data-tpi-home-slider-tablet-items-value="2" data-tpi-home-slider-desktop-items-value="3">
        <div class="slider" data-tpi-home-slider-target="items">
          <% @latest_researches.each do |research| %>
            <div>
              <%= link_to tpi_publication_download_file_path(slug: research.slug), target: '_blank', class: 'research-box' do %>
                <img src="<%= url_for(research.image) %>" />
                <div class="research-box__title">
                  <% if research.author_image.present? %>
                    <img src="<%= url_for(research.author_image_thumbnail) %>" />
                  <% end %>
                  <div>
                    <% if research.author.present? %>
                      <span class="research-box__author">
                        <%= research.author %>
                      </span>
                      <%= ' on the ' %>
                    <% end %>
                    <%= research.title %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section tpi-home__funders">
  <div class="container">
    <h2 class="section-title is-size-5-mobile is-size-2">
      Funding Partners
    </h2>
    <div class="section-description">
      <div class="subtitle">The TPI Centre is supported by</div>
      <div class="images">
        <img src="<%= asset_path 'tpi/funders/climate-arc.png' %>" />
        <img src="<%= asset_path 'tpi/funders/lseg-foundation.png' %>" />
        <img src="<%= asset_path 'tpi/funders/tpi.png' %>" />
        <img src="<%= asset_path 'tpi/funders/fte-russell.png' %>" />
      </div>
      <br />
      <div class="subtitle">The TPI Centre also receives support towards ASCOR from</div>
      <div class="images">
        <img src="<%= asset_path 'tpi/funders/laudes-foundation.png' %>" />
        <img src="<%= asset_path 'tpi/funders/climateworks.png' %>" />>
      </div>
      <br />
      <div class="info">If you would like to discuss funding the TPI Centre's work, please <a href="mailto:tpi@lse.ac.uk" class="footer-link">Contact Us</a></div>
    </div>
  </div>
</section>

<section class="section tpi-home__newsletter">
  <div class="container">
    <div class="columns" >
      <div class="column is-5 subscribe__logo is-hidden-touch">
        <img src="<%= asset_path 'newsletter_background/newsletter img@2x.png' %>" alt="tpi newsletter logo">
      </div>

      <div class="column is-5-desktop subscribe__container">
        <h2 class="is-size-4 is-hidden-touch">Subscribe to the Newsletter</h2>
        <div class="subscribe-title is-hidden-desktop">
          <div>Subscribe to the TPI newsletter</div>
          <img src="<%= asset_path 'newsletter_background/newsletter img@2x.png' %>" alt="tpi newsletter logo">
        </div>

        <p class="content">
          Receive monthly updates on all things TPI, including the latest research developments, and when new methodologies and updates will be released on the website. Click below to subscribe
        </p>

        <%= link_to 'Subscribe', tpi_newsletter_path, class: 'button is-primary subscribe__button' %>
      </div>
    </div>
  </div>
</section>
