<% content_for :page_title, 'Home - Transition Pathway Initiative' %>

<section class="section tpi-home__hero is-primary">
  <div class="container">
    <div class="mobile-background is-hidden-tablet"></div>
    <div class="columns">
      <div class="column is-4 left-size">
        <div class="title">
          <h1><%= @home_content[:intro][:title] %></h1>
        </div>
        <div class="description">
          <p class="content">
            <%= @home_content[:intro][:description] %>
          </p>
        </div>
        <div class="button__container">
          <%= link_to 'Access the tool', tpi_sectors_path, class: 'button is-primary button__hero' %>
        </div>
      </div>
      <div class="column is-offset-1 is-hidden-mobile hero__splash">
        <div class="background"></div>
      </div>
    </div>
  </div>
</section>

<section class="section tpi-home__hero is-secondary">
  <div class="container tpi-hero__body">
    <div class="columns">
      <%= link_to '/investors', class: "column is-5 section-clickable" do %>
        <div class="subsection-content__container">
          <h4 class="section-title">
            <%= @home_content[:investors][:title] %>
          </h4>

          <p class="section-description">
            <%= @home_content[:investors][:description] %>
          </p>
        </div>

        <div class="subsection-button__container">
          <button class="section-button"></button>
          <span class="button__title">TPI for investors</span>
        </div>
      <% end %>

      <div class="column is-2 separator__container">
        <div class="separator"></div>
      </div>

      <%= link_to '/supporters', class: "column is-5 section-clickable" do %>
        <div class="subsection-content__container">
          <h4 class="section-title">
            <%= @home_content[:supporters][:title] %>
          </h4>

          <p class="section-description">
            <%= @home_content[:supporters][:description] %>
          </p>
        </div>

        <div class="subsection-button__container">
          <button class="section-button"></button>
          <span class="button__title">Who supports the TPI?</span>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="section tpi-home__promoted-publications">
  <div class="container">
    <div class="promoted-publications__title">
      <h4 class="promoted-publications__title-text">Publications and news</h4>

      <%= link_to 'View all publications and news', tpi_publications_path, class: 'button is-secondary is-hidden-touch' %>
    </div>

    <%= render "tpi/publications/promoted" %>
    <a href="/publications" class="view-all-button button is-secondary is-hidden-desktop">View all publications and news</a>
  </div>
</section>

<hr />

<section class="section partners">
  <%= render "partners" %>
</section>

<hr class="is-hidden-touch" />

<section class="section testemonials">
  <%= render "testimonials" %>
</section>
