<% is_new_record = form.object.new_record? %>

<%= content_tag :div, class: "nested-fields inline-fields event-fields", data: { new_record: is_new_record } do %>
  <%= form.input :date %>
  <%= form.input :title %>
  <%= form.input :event_type, as: :select, collection: form.object.valid_types %>
  <%= form.input :description, as: :text %>
  <%= form.input :url, as: :string %>
  <li class="input">
    <%= button_tag "Remove", type: 'button', class: 'button button--raised button--red', data: { action: "click->nested-list#removeRecord" } %>
  </li>
  <%= form.hidden_field :_destroy %>
<% end %>
