<div class="columns">
  <div class="column">
    <div class="mq-assessment-box">
      <p>
        Current level
      </p>
      <div class="mq-level">
        <%= assessment.level %>
        <span class="mq-level-trend mq-level-trend--<%= assessment.status %>">
        </span>
      </div>
      <p>
        <%= t("tpi.company.level_description.#{assessment.level.to_i}") %></h3>
      </p>

      <%= render 'mq_assessment_answers_summary', assessment: assessment %>
    </div>
  </div>

  <div class="column">
    <div class="mq-assessment-box">
      <div>Nr of assessments: <%= assessment.previous_assessments.size + 1 %></div>
      <div>
        <%= line_chart(
          assessments_levels_chart_data_tpi_company_path(@company.id, mq_assessment_id: assessment.id),
          library: mq_company_no_of_assessments_chart_options
          ) %>
      </div>
    </div>
  </div>
</div>

<div class="mq-assessment-questions">
  <% assessment.questions_by_level.each do |level, questions| %>
    <div class="mq-assessment-level">
      <p class="mq-assessment-level__header">Level <%= level %>: <%= t("tpi.company.level_description.#{level}") %></p>

      <div class="mq-assessment-answers">
        <% questions.each do |question| %>

          <p class="mq-assessment-question">
            <span class="mq-assessment-answer mq-assessment-answer--<%= question.answer.parameterize %>">
            </span>
            <%= question.number %>. <%= question.question %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
