<% content_for :page_title, "TPI - Company #{@company.name}" %>

<div class="company-page" data-controller="companies">
  <div class="dropdown-selector-company-page-wrapper">
    <%= react_component("DropdownSelector", { sectors: @sectors, companies: @companies, selectedOption: @company.name, defaultFilter: 'company' }) %>
  </div>

  <div class="companies-header">
    <div class="container is-hidden-touch">
      <a href="#management-quality" class="link with-icon is-pulled-left">
        <img src="<%= asset_path 'icons/arrow-down.svg'%>" />
        Go to Management Quality
      </a>
      <a href="#carbon-performance" class="link with-icon is-pulled-left">
        <img src="<%= asset_path 'icons/arrow-down.svg'%>" />
        Go to Carbon Performance
      </a>

      <%= link_to user_download_all_tpi_sectors_path, class: 'button is-primary is-pulled-right with-icon with-border' do %>
        <img src="<%= asset_path 'icons/download.svg'%>" />
        Download All sectors data
      <% end %>
    </div>
    <div class="container is-hidden-desktop">
      <a href="#management-quality" class="link with-icon is-pulled-left">
        Management Quality
      </a>
      <a href="#carbon-performance" class="link with-icon is-pulled-left">
        Carbon Performance
      </a>
    </div>
  </div>

  <section class="container summary-boxes">
    <div class="columns">
      <div class="column">
        <a href="#management-quality" class="summary-box-link">
          <div class="summary-box summary-box--assessment">
            <h4>Management Quality</h4>
            <p>
              <small>Number of assessments: <%= @company.mq_assessments.currently_published.size %></small>
            </p>
            <% if @company.mq_assessments.currently_published.any? %>
              <%= render 'mq_level', level: @company.mq_level, status: @company.mq_status %>
              <p>
                <%= t("tpi.company.level_description.#{@company.mq_level.to_i}") %></h3>
              </p>
            <% end %>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="#carbon-performance" class="summary-box-link">
          <div class="summary-box summary-box--assessment">
            <h4>Carbon Performance</h4>
            <p>
              <small>Number of assessments: <%= @company.cp_assessments.currently_published.size %></small>
            </p>

            <% if @company_presenter.cp_alignment.present? %>
              <p class="cp-alignment">
                <span class="cp-alignment__circle" style="background-color: <%= @company_presenter.cp_alignment.color %>">
                </span>
                <%= @company_presenter.cp_alignment.name %>
              </p>
              <% if !['not assessed', 'not aligned', 'no disclosure', nil].include?(@company.cp_alignment&.downcase) %>
                <p>
                  The company’s emissions intensity and target are aligned
                  with the Paris agreement benchmark of <%= @company.cp_alignment %>
                </p>
              <% elsif @company.cp_alignment && @company.cp_alignment.downcase == 'not assessed' %>
                <p>
                  The company’s activities don't fit the scope of TPI’s Carbon
                  Performance assessment of this sector, hence the company is not assessed.
                </p>
              <% end %>
            <% end %>
          </div>
        </a>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="summary-box">
          <div class="columns">
            <div class="column">
              <%= render 'company_property', highlight: true, name: 'Geography', tooltip: t('.tooltips.geography') do %>
                <%= @company.geography.name %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'company_property', highlight: true, name: 'Sector' do %>
                <%= link_to @company.sector.name, tpi_sector_path(@company.sector.slug) %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'company_property', highlight: false, name: 'Market cap (Group)', tooltip: t('.tooltips.market_cap') do %>
                <%= @company.market_cap_group %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'company_property', highlight: false, name: 'ISIN', tooltip: t('.tooltips.ISIN') do %>
                <%= @company.isin_array.join('<br/>').html_safe %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'company_property', highlight: false, name: 'SEDOL', tooltip: t('.tooltips.SEDOL') do %>
                <%= @company.sedol %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'company_property', highlight: true, name: 'CA100+ engagement', tooltip: t('.tooltips.CA100') do %>
                <%= humanize_boolean(@company.ca100?) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% if @company.mq_assessments.currently_published.any? %>
    <section id="management-quality" class="management-quality container">
      <div class="management-quality__header">
        <h4>
          Management Quality: <%= @company.name %> <%= react_component("BaseTooltip", { content: t('.tooltips.mq_header') }) %>
        </h4>

        <div class="is-hidden-touch show-by-dropdown assessment-date__container">
          <div class="caption">
            Assessment Date: <%= react_component("BaseTooltip", { content: t('.tooltips.mq_assessment_date') }) %>
          </div>
          <div class="date-dropdown">
            <%= react_component('RemoteDropdown', {
              name: 'mq_assessment_id',
              remote: true,
              url: mq_assessment_tpi_company_path(@company),
              data: @company.mq_assessments.currently_published.order(assessment_date: :desc).map {|v| {label: v['assessment_date']&.strftime('%d %B %Y'), value: v['id']}}
            }) %>
          </div>
        </div>
      </div>
      <p>
        Assessment of <%= @company.name %> according to the management of its greenhouse gas emissions and of risks and opportunities related to the low-carbon transition.
      </p>
      <div class="is-hidden-desktop assessment-date__container">
        <div class="caption">
          Assessment Date: <%= react_component("BaseTooltip", { content: t('.tooltips.mq_assessment_date') }) %>
        </div>
        <div class="date-dropdown">
          <%= react_component('RemoteDropdown', {
            name: 'mq_assessment_id',
            remote: true,
            url: mq_assessment_tpi_company_path(@company),
            data: @company.mq_assessments.currently_published.order(assessment_date: :desc).map {|v| {label: v['assessment_date']&.strftime('%d %B %Y'), value: v['id']}}
          }) %>
        </div>
      </div>

      <div id="mq-assessment" class="management-quality__content">

        <%= render partial: 'mq_assessment', locals: { assessment: @mq_assessment } if @mq_assessment.present? %>
      </div>
    </section>
  <% end %>


  <% if @company.cp_assessments.currently_published.any? %>
    <section id="carbon-performance" class="carbon-performance container">
      <div class="management-quality__header">
        <h4>
          Carbon Performance <%= @company.name %> <%= react_component("BaseTooltip", { content: t('.tooltips.cp_header') }) %>
        </h4>
        <p class="is-hidden-desktop"><%= "Carbon Performance alignment of companies in the #{@company.name} sector with the Paris agreement benchmarks." %></p>
        <div>
          <div class="show-by-dropdown assessment-date__container">
            <div class="caption">
              Assessment Date: <%= react_component("BaseTooltip", { content: t('.tooltips.cp_assessment_date') }) %>
            </div>

            <div class="date-dropdown">
              <%= react_component('RemoteDropdown', {
                name: 'cp_assessment_id',
                remote: true,
                url: cp_assessment_tpi_company_path(@company),
                data: @company.cp_assessments.currently_published.order(assessment_date: :desc).map {|v| {label: v['assessment_date']&.strftime('%d %B %Y'), value: v['id']}}
              }) %>
            </div>
          </div>
        </div>
      </div>

      <div id="cp-assessment">
        <%= render partial: 'cp_assessment', locals: { assessment: @cp_assessment } %>
      </div>
    </section>
  <% end %>
  <% if @company.latest_information.present? %>
    <%= react_component("LatestInformation", { company: @company }) %>
  <% end %>
</div>
