<div data-controller="companies">
  <h1>Company Details</h1>
  <%= link_to 'back to all Sectors', tpi_sectors_path %>

  <hr>

  <div class="company-performance-summary container">
    <div class="mq summary-box">
      <h3>Management Quality</h3>
      <h5>Number of assessments: <%= @company.mq_assessments.size %></h5>
      <div class="mq-status-summary">
        <%= @company.mq_level %>
        <%= @company.mq_status %>
      </div>
    </div>

    <div class="cp summary-box">
      <h3>Carbon Performance</h3>
      <h5>Number of assessments: <%= @company.cp_assessments.size %></h5>
      <div class="cp-status-summary">
        Below 2 degrees
      </div>
    </div>
  </div>

  <br><br>

  <div class="company-info container">
    <%= @company_summary.slice(:name, :country, :sector, :market_cap, :isin, :sedol) %>
  </div>

  <hr>

  <h3>Management Quality: <%= @company.name %></h3>
  <div>
    Assessment Date
    <%= select_tag :mq_assessment_id,
       options_from_collection_for_select(@company.mq_assessments, "id", "assessment_date", @mq_assessment.id),
       data: {
         remote: true,
         url: mq_assessment_tpi_company_path(@company)
       }
    %>
  </div>

  <div id="mq-assessment">
    <%= render partial: 'mq_assessment', locals: { assessment: @mq_assessment } %>
  </div>

  <hr>

  <% unless @company.cp_assessments.empty? %>
    <h3>Carbon Performance <%= @company.name %></h3>
    <div>
      <div>
        Assessment Date
        <%= select_tag :cp_assessment_id,
           options_from_collection_for_select(@company.cp_assessments, "id", "assessment_date", @cp_assessment.id),
           data: {
             remote: true,
             url: cp_assessment_tpi_company_path(@company)
           }
        %>
      </div>

      <div id="cp-assessment">
        <%= render partial: 'cp_assessment', locals: { assessment: @cp_assessment } %>
      </div>
    </div>
    <p>
      Carbon Performance alignment of <%= @company.name %> with the Paris agreement benchmarks.
    </p>
  <% end %>
</div>
