<div class="company-page" data-controller="companies">
  <div class="dropdown-selector-company-page-wrapper">
    <%= react_component("DropdownSelector", { sectors: @sectors, companies: @companies, selectedOption: @company.name, defaultFilter: 'company' }) %>
  </div>
  <section class="container">
    <div class="columns">
      <div class="column">
        <div class="summary-box summary-box--assessment">
          <h4>Management Quality</h4>
          <p>
            <small>Number of assessments: <%= @company.mq_assessments.size %></small>
          </p>
          <%= render 'mq_level', level: @company.mq_level, status: @company.mq_status %>
          <p>
            <%= t("tpi.company.level_description.#{@company.mq_level.to_i}") %></h3>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="summary-box summary-box--assessment">
          <h4>Carbon Performance</h4>
          <p>
            <small>Number of assessments: <%= @company.cp_assessments.size %></small>
          </p>

          <% if @company_presenter.model.cp_alignment.present? %>
            <p class="cp-alignment">
              <span class="cp-alignment__circle" style="background-color: <%= @company_presenter.cp_alignment.color %>">
              </span>
              <%= @company_presenter.cp_alignment.text %>
            </p>
            <% unless ['not aligned', 'no disclosure', nil].include?(@company.cp_alignment&.downcase) %>
              <p>
                The company’s emissions intensity and target are aligned
                with the Paris agreement benchmark of <%= @company.cp_alignment %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="summary-box">
          <div class="columns">
            <div class="column">
              <%= render 'company_property', name: 'Country' do %>
                <%= link_to @company.geography.name, cclow_geography_path(@company.geography) %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'company_property', name: 'Sector' do %>
                <%= link_to @company.sector.name, tpi_sector_path(@company.sector.slug) %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'company_property', name: 'Market cap (Group)', tooltip: t('.tooltips.market_cap') do %>
                <%= @company.market_cap_group %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'company_property', name: 'ISIN', tooltip: t('.tooltips.ISIN') do %>
                <%= @company.isin_array.join('<br/>').html_safe %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'company_property', name: 'SEDOL', tooltip: t('.tooltips.SEDOL') do %>
                <%= @company.sedol %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'company_property', name: 'CA100+ engagement', tooltip: t('.tooltips.CA100') do %>
                <%= humanize_boolean(@company.ca100?) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="management-quality container">
    <div class="management-quality__header">
      <h4>
        Management Quality: <%= @company.name %> <%= react_component("BaseTooltip", { content: t('.tooltips.mq_header') }) %>
      </h4>

      <div>
        Assessment Date: <%= react_component("BaseTooltip", { content: t('.tooltips.mq_assessment_date') }) %>
        <%= select_tag :mq_assessment_id,
                       options_from_collection_for_select(@company.mq_assessments, "id", "assessment_date", @mq_assessment.id),
                       class: 'input',
                       data: {
                         remote: true,
                         url: mq_assessment_tpi_company_path(@company)
                       }
        %>
      </div>
    </div>

    <p>
      Assessment of <%= @company.name %> according to the management of its greenhouse gas emissions and of risks and opportunities related to the low-carbon transition.
    </p>

    <div id="mq-assessment" class="management-quality__content">
      <%= render partial: 'mq_assessment', locals: { assessment: @mq_assessment } %>
    </div>
  </section>

  <% unless @company.cp_assessments.empty? %>
    <section class="carbon-performance container">
      <div class="management-quality__header">
        <h4>
          Carbon Performance <%= @company.name %> <%= react_component("BaseTooltip", { content: t('.tooltips.cp_header') }) %>
        </h4>
        <div>
          <div>
            Assessment Date: <%= react_component("BaseTooltip", { content: t('.tooltips.cp_assessment_date') }) %>
            <%= select_tag :cp_assessment_id,
                           options_from_collection_for_select(@company.cp_assessments, "id", "assessment_date", @cp_assessment.id),
                           class: 'input',
                           data: {
                             remote: true,
                             url: cp_assessment_tpi_company_path(@company)
                           }
            %>
          </div>
        </div>
      </div>

      <div id="cp-assessment">
        <%= render partial: 'cp_assessment', locals: { assessment: @cp_assessment } %>
      </div>
    </section>
  <% end %>
</div>
