<% content_for :page_title, "#{@company.name} - Transition Pathway Initiative" %>
<% content_for :page_description, "Assess how prepared #{@company.name} is for the transition to a low-carbon economy – its Management Quality and Carbon Performance." %>

<%= react_component('MqBetaModal', {
  enabled: session[:enable_beta_mq_assessments],
  page: "companies"
}) %>

<% regional_view = @company.cp_alignment_region.present? && params[:view] == 'regional' %>

<div class="company-page" data-controller="companies">
  <div class="dropdown-selector-company-page-wrapper">
    <%= react_component("DropdownSelector", { sectors: @sectors, companies: @companies, selectedOption: @company.name, defaultFilter: 'company' }) %>
  </div>
  <div class="companies-header">
    <div class="container is-hidden-touch">
      <div class="mq-beta-scores">
        <%= render 'tpi/shared/mq_beta_scores' %>
        <div>
          <a href="#management-quality" class="link with-icon is-pulled-left">
            <img src="<%= asset_path 'icons/arrow-down.svg'%>" alt="arrow down" />
            Go to Management Quality
          </a>
          <% if @company_presenter.cp_assessments.any? %>
            <a href="#carbon-performance" class="link with-icon is-pulled-left">
              <img src="<%= asset_path 'icons/arrow-down.svg'%>" alt="arrow down" />
              Go to Carbon Performance
            </a>
          <% end %>
        </div>
        <div class="mq-beta-scores__download-button">
          <%= link_to user_download_all_tpi_sectors_path, class: 'button is-primary is-pulled-right with-icon with-border' do %>
            <img src="<%= asset_path 'icons/download.svg'%>" alt="download icon" />
            Download data
          <% end %>
        </div>
      </div>
    </div>
    <div class="container is-hidden-desktop">
      <div class="mq-beta-scores is-hidden-desktop">
        <%= render 'tpi/shared/mq_beta_scores' %>
        <div>
          <a href="#management-quality" class="link with-icon is-pulled-left">
            Management Quality
          </a>
          <% if @company_presenter.cp_assessments.any? %>
            <a href="#carbon-performance" class="link with-icon is-pulled-left">
              Carbon Performance
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @company.cp_alignment_region.present? %>
    <section class="container change-view">
      <div class="buttons has-addons" style="justify-content: flex-end;">
        <%= link_to "Global benchmarks", {view: nil}, class: "button #{!regional_view ? 'is-primary' : 'is-secondary'}" %>
        <%= link_to "Regional benchmarks", {view: 'regional'}, class: "button #{regional_view ? 'is-primary' : 'is-secondary'}" %>
      </div>
      <div class="has-text-right">
        <% if regional_view %>
          The regional benchmarks applied to this company are for <%= @company.cp_alignment_region %>.
        <% end %>
      </div>
    </section>
  <% end %>

  <section class="container summary-boxes">
    <div class="columns">
      <div class="column">
        <a href="#management-quality" class="summary-box-link">
          <div class="summary-box summary-box--assessment">
            <h4>Management Quality</h4>
            <p>
              <small>Number of assessments: <%= hide_mq_assessments_with_same_date(@company_presenter.mq_assessments).size %></small>
            </p>
            <% if @company_presenter.mq_assessments.any? %>
              <%= render 'mq_level', level: @company.mq_level, status: @company.mq_status %>
              <p>
                <%= t("tpi.company.level_description.#{@company.mq_level.to_i}") %></h3>
              </p>
            <% end %>
          </div>
        </a>
      </div>
      <div class="column is-three-fifths">
        <a href="#carbon-performance" class="summary-box-link">
          <div class="summary-box summary-box--assessment">
            <h4>Carbon Performance</h4>
            <p>
              <small>Number of assessments: <%= @company_presenter.cp_assessments.size %></small>
            </p>

            <% unless regional_view %>
              <div class="cp-alignments">
                <% long_term_header = "Long-term<br/> alignment in #{@company.sector.name.downcase == 'electricity utilities' ? '2040-50' : '2050'}" %>

                <%= render 'cp_alignment', header: 'Short-term<br/> alignment in 2025', alignment: @company_presenter.cp_alignment_2025 %>
                <%= render 'cp_alignment', header: 'Medium-term<br/> alignment in 2035', alignment: @company_presenter.cp_alignment_2035 %>
                <%= render 'cp_alignment', header: long_term_header, alignment: @company_presenter.cp_alignment_2050 %>
              </div>
            <% else %>
              <div class="cp-alignments">
                <% long_term_header = "Long-term<br/> alignment in #{@company.sector.name.downcase == 'electricity utilities' ? '2040-50' : '2050'}" %>

                <%= render 'cp_alignment', header: 'Short-term<br/> alignment in 2025', alignment: @company_presenter.cp_regional_alignment_2025 %>
                <%= render 'cp_alignment', header: 'Medium-term<br/> alignment in 2035', alignment: @company_presenter.cp_regional_alignment_2035 %>
                <%= render 'cp_alignment', header: long_term_header, alignment: @company_presenter.cp_regional_alignment_2050 %>
              </div>
            <% end %>
          </div>
        </a>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="summary-box">
          <div class="columns">
            <div class="column">
              <%= render 'tpi/shared/property', highlight: false, name: 'Geography', tooltip: t('tpi.tooltips.geography') do %>
                <%= @company.geography.name %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'tpi/shared/property', highlight: true, name: 'Sector' do %>
                <%= link_to @company.sector.name, tpi_sector_path(@company.sector.slug) %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'tpi/shared/property', highlight: false, name: 'Market cap (Group)', tooltip: t('tpi.tooltips.market_cap') do %>
                <%= @company.market_cap_group %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'tpi/shared/property', highlight: false, name: 'ISIN', tooltip: t('tpi.tooltips.ISIN') do %>
                <%= @company.isin_array.join('<br/>').html_safe %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'tpi/shared/property', highlight: false, name: 'SEDOL', tooltip: t('tpi.tooltips.SEDOL') do %>
                <%= @company.sedol %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'tpi/shared/property', highlight: false, name: 'CA100+ engagement', tooltip: t('tpi.tooltips.CA100') do %>
                <%= humanize_boolean(@company.ca100?) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% if @company_presenter.mq_assessments.any? %>
    <section id="management-quality" class="management-quality container">
      <div class="management-quality__header">
        <h4>
          Management Quality: <%= @company.name %>
        </h4>

        <div class="is-hidden-touch show-by-dropdown assessment-date__container">
          <div class="caption">
            Assessment Date:
          </div>
          <div class="date-dropdown">
            <%= react_component('RemoteDropdown', {
              name: 'mq_assessment_id',
              remote: true,
              url: mq_assessment_tpi_company_path(@company),
              data: hide_mq_assessments_with_same_date(@company_presenter.mq_assessments).map {|v| {label: v['assessment_date']&.strftime('%d %B %Y'), value: v['id']}},
              selected: params[:mq_assessment_id]
            }) %>
          </div>
        </div>
      </div>
      <p>
        Assessment of <%= @company.name %> according to the management of its greenhouse gas emissions and of risks and opportunities related to the low-carbon transition.
      </p>
      <div class="is-hidden-desktop assessment-date__container">
        <div class="caption">
          Assessment Date:
        </div>
        <div class="date-dropdown">
          <%= react_component('RemoteDropdown', {
            name: 'mq_assessment_id',
            remote: true,
            url: mq_assessment_tpi_company_path(@company),
            data: @company_presenter.mq_assessments.map {|v| {label: v['assessment_date']&.strftime('%d %B %Y'), value: v['id']}},
            selected: params[:mq_assessment_id]
          }) %>
        </div>
      </div>

      <div id="mq-assessment" class="management-quality__content">

        <%= render partial: 'mq_assessment', locals: { assessment: @mq_assessment } if @mq_assessment.present? %>
      </div>
    </section>
  <% end %>

  <% if @company_presenter.cp_assessments.any? %>
    <section id="carbon-performance" class="carbon-performance container">
      <div class="management-quality__header">
        <h4>
          Carbon Performance <%= @company.name %>
        </h4>
        <p class="is-hidden-desktop"><%= "Carbon Performance alignment of companies in the #{@company.name} sector with the Paris agreement benchmarks." %></p>

        <div>
          <div class="show-by-dropdown assessment-date__container">
            <div class="caption">
              Assessment Date:
            </div>

            <div class="date-dropdown">
              <%= react_component('RemoteDropdown', {
                name: 'cp_assessment_id',
                remote: true,
                url: cp_assessment_tpi_company_path(@company),
                params: regional_view ? "view=regional" : nil,
                data: @company_presenter.cp_assessments.map {|v| {label: v['assessment_date']&.strftime('%d %B %Y'), value: v['id']}},
                selected: params[:cp_assessment_id]
              }) %>
            </div>
          </div>
        </div>
      </div>

      <div id="cp-assessment">
        <%= render partial: 'cp_assessment', locals: { assessment: @cp_assessment } %>
      </div>
    </section>
  <% end %>
  <% if @company.latest_information.present? %>
    <%= react_component("LatestInformation", { name: @company.name, latestInformation: @company.latest_information }) %>
  <% end %>
</div>
