<% publications_and_articles.each do |publication| %>
  <div class="publication">
    <% if publication.thumbnail.present? %>
      <div class="publication__avatar" style="background-image: url(<%= url_for(publication.thumbnail) %>)"></div>
    <% end %>

    <div class="publication__content">
      <div class="content__title-wrapper">
        <div class="content__title">
          <% if publication.is_a?(Publication) %>
            <% if publication.summary.present? %>
              <%= link_to publication.title, tpi_publication_path(id: publication.slug), class: 'link is-strong' %>
            <% else %>
              <%= link_to publication.title, tpi_publication_download_file_path(slug: publication.slug), target: '_blank', class: 'link is-strong' %>
            <% end %>
          <% else %>
            <%= link_to publication.title, show_news_article_tpi_publication_path(id: publication.id), class: "link is-strong" %>
          <% end %>
        </div>
      </div>

      <div class="publication__content-type">
        <% if publication.is_a?(NewsArticle) %>
          <%= publication.is_insight? ? 'Insights' : 'News' %>
        <% else %>
          Publications
        <% end %>
      </div>

      <p class="updated_at "><%= publication.publication_date.strftime('%d/%m/%Y') %></p>

      <div class="content__message">
        <p>
          <% if publication.class.name.eql?("NewsArticle") %>
            <%= publication.short_description.presence || truncate(strip_tags(publication.content), length: 100) %>
          <% else %>
            <%= publication.short_description %>
          <% end %>
        </p>
      </div>

      <% if publication.keywords.any? || publication.tpi_sectors.any? %>
        <div class="publication__tags">
          <% publication.tags_and_sectors.each do |tag| %>
            <span class="tag"><%= tag %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
