<div class="promoted-publications__publications">
  <div class="publications__grid">
    <% @publications_and_articles.each do |publication| %>
      <div class="publication">
        <% if publication.thumbnail.present? %>
          <%= image_tag(publication.thumbnail, class: "publication__avatar") %>
        <% end %>

        <div class="publication__content">
          <p class="updated_at"><%= publication.publication_date %></p>
          <div class="content__title-wrapper">
            <div class="content__title">
              <%= link_to publication.title, tpi_publication_path(id: publication.id, type: publication.class.name), class: "link is-strong" %>
            </div>
          </div>

          <div class="content__message">
            <p>
              <% if publication.class.name.eql?("NewsArticle") %>
                Article type: <%= publication.article_type %>
              <% else %> 
                <%= publication.short_description %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
