<h2>Following user downloaded data from TPI website</h2>

<p><strong>Email:</strong> <%= @data[:email] %></p>
<p><strong>Job Title:</strong> <%= @data[:job_title] %></p>
<p><strong>Forename:</strong> <%= @data[:forename] %></p>
<p><strong>Surname:</strong> <%= @data[:surname] %></p>
<p><strong>Location:</strong> <%= @data[:location] %></p>
<p><strong>Organisation:</strong> <%= @data[:organisation] %></p>

<h3>Purposes</h3>
<ul>
  <% Array.wrap(@data[:purposes]).each do |purpose| %>
    <% if purpose == "other_purpose_checkbox" %>
      <li><strong>Other:</strong> <%= @data[:other_purpose] %></li>
    <% else %>
      <li><%= purpose %></li>
    <% end %>
  <% end %>
</ul>
