<li>
  <h5 class="title"><%= legislation.link %></h5>
  <div class="meta">
    <div>
      <img src=<%= asset_path "icons/legislation_types/#{legislation.legislation_type}.svg"%> alt="">
      <%= legislation.legislation_type&.humanize %>
    </div>

    <div><%= legislation.first_event&.date&.year %></div>

    <% if legislation.last_event %>
      <div>Last change in <%= legislation.last_event&.date&.strftime('%B, %Y') %></div>
    <% end %>
  </div>
  <div class="description">
    <%= legislation.short_description %>
  </div>
</li>
