<li>
  <h5 class="title"><%= title %></h5>
  <div class="meta">
    <div>
      <img src=<%= asset_path "icons/legislation_types/#{legislation_type}.svg"%> alt="">
      <%= I18n.t("cclow.legislation_types.#{legislation_type}") %>
    </div>
    <div>Passed in <%= date_passed.year %></div>
  </div>
  <p>
    <%= description&.html_safe %>
  </p>
</li>
