<% content_for :page_title, "#{@legislation.title.truncate(30)} - #{@geography.name} - Climate Change Laws of the World" %>
<% content_for :page_description, strip_tags(@legislation.description).first(160) %>

<% content_for :sidebar do %>
<div class="sidebar__categories">
  <hr />

  <% if @responses.count > 0 %>
    <div class="categories__container">
      <p class="categories__title">Responses</p>

      <div class="categories__tags">
        <% @responses.each do |response| %>
          <span class="tag categories__tag"><%= response.name %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @sectors.count > 0 %>
    <div class="categories__container">
      <p class="categories__title">Sectors</p>

      <div class="categories__tags">
      <% @sectors.each do |sector| %>
        <span class="tag categories__tag"><%= sector.name %></span>
      <% end %>
      </div>
    </div>
  <% end %>

  <% if @instruments.count > 0 %>
    <div class="categories__container">
      <p class="categories__title">Instruments</p>

      <div class="categories__tags">
        <% @instruments.each do |instrument| %>
          <span class="tag categories__tag"><%= instrument.name %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @keywords.count > 0 %>
    <div class="categories__container">
      <p class="categories__title">Keywords</p>

      <div class="categories__tags">
      <% @keywords.each do |keyword| %>
        <span class="tag categories__tag"><%= keyword.name %></span>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<div class="content-show">
  <h3 class="title"><%= @legislation.title %></h3>
  <div class="meta">
    <div>
      <img src=<%= asset_path "icons/legislation_types/#{@legislation.legislation_type}.svg"%> alt="">
      <%= @legislation.legislation_type&.humanize %>
    </div>
    <% if @legislation.document_types.any? %>
      <% @legislation.document_types.distinct.each do |doc| %>
        <div>
          <span><%= doc.name %></span>
        </div>
      <% end %>
    <% end %>
    <% if @legislation.frameworks.any? %>
      <% @legislation.frameworks.each do |frame| %>
      <div>
        <span><%= frame.name %> Framework</span>
        <!--<span class="icon"><i class="fa fa-question"></i></span>-->
      </div>
      <% end %>
    <% end %>
    <div>Passed in <%= @legislation.date_passed&.year %></div>
  </div>
  <section class="html-content section is-medium">
    <%= @legislation.description&.html_safe %>
  </section>
  <% if @legislation_events_with_links.any? %>
    <section class="section is-medium">
      <%= react_component("EventsTimeline", { events: @legislation_events_with_links }) %>
    </section>
  <% end %>
  <hr>
  <% if @legislation.documents.any? %>
    <section class="section is-medium">
      <h5>Documents</h5>
      <%= render 'documents_list', documents: @legislation.documents %>
    </section>
  <% end %>
  <% if @legislation.targets.any? %>
    <section class="section is-medium">
      <%= render 'cclow/geography/legislations/climate_targets', targets: @legislation.targets %>
    </section>
  <% end %>
  <% if @legislation.litigations.any? %>
    <section>
      <h5>Related litigation cases</h5>
      <%= render 'related_litigations_list', litigations: CCLOW::LitigationDecorator.decorate_collection(@legislation.litigations) %>
    </section>
  <% end %>
</div>
