<div class="content-show">
  <h3 class="title"><%= @legislation.title %></h3>
  <div class="meta">
    <div><%= I18n.t("cclow.legislation_types.#{@legislation.legislation_type}") %></div>
    <div>
      <span>Action plan</span>
      <span class="icon"><i class="fa fa-question"></i></span>
    </div>
    <div>
      <span>Mitigation Framework</span>
      <span class="icon"><i class="fa fa-question"></i></span>
    </div>
    <div>Passed in <%= @legislation.date_passed&.year %></div>
  </div>
  <section class="section is-medium">
    <%= @legislation.description&.html_safe %>
  </section>
  <% if @legislation.events.any? %>
    <section class="section is-medium">
      <%= react_component("EventsTimeline", { events: @legislation.events }) %>
    </section>
  <% end %>
  <hr>
  <% if @legislation.documents.any? %>
    <section class="section is-medium">
      <h5>Documents</h5>
      <%= render 'documents_list', documents: @legislation.documents %>
    </section>
  <% end %>
  <% if @legislation.targets.any? %>
    <section class="section is-medium">
      <%= render 'cclow/geography/legislations/climate_targets', targets: @legislation.targets %>
    </section>
  <% end %>
  <section>
    <h5>Related laws and policies</h5>
    <%= render 'related_laws_list', legislations: Legislation.first(2) %>
  </section>
  <hr>
  <% if @legislation.litigations.any? %>
    <section>
      <h5>Related litigation cases</h5>
      <%= render 'releted_litigations_list', litigations: @legislation.litigations %>
    </section>
  <% end %>
</div>
