<% content_for :page_title, "Climate Laws - #{@geography.name} - #{@legislation.title}" %>

<% content_for :sidebar do %>
<div class="sidebar__categories">
  <hr />

  <% if @responses.count > 0 %>
    <div class="categories__container">
      <p class="categories__title">Responses</p>

      <div class="categories__tags">
        <% @responses.each do |response| %>
          <span class="tag categories__tag"><%= response.name %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @sectors.count > 0 %>
    <div class="categories__container">
      <p class="categories__title">Sectors</p>

      <div class="categories__tags">
      <% @sectors.each do |sector| %>
        <span class="tag categories__tag"><%= sector.name %></span>
      <% end %>
      </div>
    </div>
  <% end %>

  <% if @keywords.count > 0 %>
    <div class="categories__container">
      <p class="categories__title">Keywords</p>

      <div class="categories__tags">
      <% @keywords.each do |keyword| %>
        <span class="tag categories__tag"><%= keyword.name %></span>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<div class="content-show">
  <h3 class="title"><%= @legislation.title %></h3>
  <div class="meta">
    <div>
      <img src=<%= asset_path "icons/legislation_types/#{@legislation.legislation_type}.svg"%> alt="">
      <%= @legislation.legislation_type&.humanize %>
    </div>
    <div>
      <span>Action plan</span>
      <!--<span class="icon"><i class="fa fa-question"></i></span>-->
    </div>
    <div>
      <span>Mitigation Framework</span>
      <!--<span class="icon"><i class="fa fa-question"></i></span>-->
    </div>
    <div>Passed in <%= @legislation.date_passed&.year %></div>
  </div>
  <section class="section is-medium">
    <%= @legislation.description&.html_safe %>
  </section>
  <% if @legislation_events_with_links.any? %>
    <section class="section is-medium">
      <%= react_component("EventsTimeline", { events: @legislation_events_with_links }) %>
    </section>
  <% end %>
  <hr>
  <% if @legislation.documents.any? %>
    <section class="section is-medium">
      <h5>Documents</h5>
      <%= render 'documents_list', documents: @legislation.documents %>
    </section>
  <% end %>
  <% if @legislation.targets.any? %>
    <section class="section is-medium">
      <%= render 'cclow/geography/legislations/climate_targets', targets: @legislation.targets %>
    </section>
  <% end %>
  <% if false %>
    <section>
      <h5>Related laws and policies</h5>
      <%= render 'related_laws_list', legislations: Legislation.first(2) %>
    </section>
    <hr>
  <% end %>
  <% if @legislation.litigations.any? %>
    <section>
      <h5>Related litigation cases</h5>
      <%= render 'related_litigations_list', litigations: @legislation.litigations %>
    </section>
  <% end %>
</div>
