<% pillars = ASCOR::AssessmentIndicator.pillar.order(:id) %>
<% areas = ASCOR::AssessmentIndicator.area.order(:id) %>
<% indicators = ASCOR::AssessmentIndicator.indicator.order(:id) %>
<% metrics = ASCOR::AssessmentIndicator.metric.order(:id) %>

<%= react_component('AscorQuestionLegend') %>
<% if pillars.any? %>
  <div>
    <input id="show-all" type="checkbox" />
    <label for="show-all" class="show-all">Show All</label>
  </div>
<% end %>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const selectAll = document.getElementById('show-all');
        const label = document.querySelector('label.show-all');
        const toggles = document.querySelectorAll('input.toggle');

        function updateLabel() {
            label.textContent = selectAll.checked ? 'Hide All' : 'Show All';
        }

        selectAll.addEventListener('change', function() {
            toggles.forEach(cb => { cb.checked = selectAll.checked; cb.dispatchEvent(new Event('change')); });
            updateLabel();
        });

        updateLabel();
    });
</script>
<% pillars.each_with_index do |pillar, i| %>
  <input id="pillar-<%= dom_id(pillar) %>" type="checkbox" class="toggle pillar" />
  <div class="country-assessment__pillar">
    <div class="country-assessment__pillar__header">
      <div class="country-assessment__pillar__subtitle"><%= "Pillar #{i + 1}" %></div>
      <h2 class="country-assessment__pillar__title"><%= pillar.text %></h2>
    </div>

    <div class="country-assessment__areas" for="pillar-<%= dom_id(pillar) %>">
      <% ascor_sub_indicators_for(pillar, areas).each do |area| %>
        <input id="area-<%= dom_id(area) %>" type="checkbox" class="toggle area" />
        <div class="country-assessment__area-block">
          <div class="country-assessment__area">
            <div class="country-assessment__area__title country-assessment__icon country-assessment__icon--<%= ascor_icon_for(area, @assessment) %>">
              <div><%= "Area #{area.code}" %></div>
              <div><strong><%= area.text %></strong></div>
            </div>
            <label class="country-assessment__more" for="area-<%= dom_id(area) %>"></label>
          </div>

          <div class="country-assessment__indicators" for="area-<%= dom_id(area) %>">
            <% if ascor_sub_indicators_for(area, indicators).present? %>
              <%= render 'tpi/ascor/assessment_indicators', area: area, indicators: ascor_sub_indicators_for(area, indicators), metrics: metrics %>
              <% if area.code == 'EP.2' %>
                <div class="country-assessment__metric-block">
                  <%= render 'tpi/ascor/benchmarks_chart' %>
                </div>
              <% end %>
            <% else %>
              <%= render 'tpi/ascor/assessment_metrics', metrics: ascor_sub_indicators_for(area, metrics) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>