<% pillars = ASCOR::AssessmentIndicator.pillar.order(:id) %>
<% areas = ASCOR::AssessmentIndicator.area.order(:id) %>
<% indicators = ASCOR::AssessmentIndicator.indicator.order(:id) %>
<% metrics = ASCOR::AssessmentIndicator.metric.order(:id) %>

<%= react_component('AscorQuestionLegend') %>
<% pillars.each_with_index do |pillar, i| %>
  <div class="country-assessment__pillar">
    <div class="country-assessment__pillar__subtitle"><%= "Pillar #{i + 1}" %></div>
    <h2 class="country-assessment__pillar__title"><%= pillar.text %></h2>

    <% ascor_sub_indicators_for(pillar, areas).each do |area| %>
      <input id="<%= dom_id(area) %>" type="checkbox" class="toggle" />
      <div class="country-assessment__area-block">
        <div class="country-assessment__area">
          <div class="country-assessment__area__title country-assessment__icon country-assessment__icon--<%= ascor_icon_for(area, @assessment) %>">
            <div><%= "Area #{area.code}" %></div>
            <div><strong><%= area.text %></strong></div>
          </div>
          <label class="country-assessment__more" for="<%= dom_id(area) %>"></label>
        </div>

        <div class="country-assessment__indicators" for="<%= dom_id(area) %>">
          <% if ascor_sub_indicators_for(area, indicators).present? %>
            <%= render 'tpi/ascor/assessment_indicators', area: area, indicators: ascor_sub_indicators_for(area, indicators), metrics: metrics %>
          <% else %>
            <%= render 'tpi/ascor/assessment_metrics', metrics: ascor_sub_indicators_for(area, metrics) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>