<% content_for :page_title, "ASCOR Tool - Transition Pathway Initiative" %>
<% content_for :hosted_by do %><span></span><% end %>

<div class="ascor-page">
  <div class="dropdown-selector-wrapper">
    <div class="left-icon"></div>
    <div class="right-icon"></div>
    <div class="bottom-icon"></div>

    <!-- TODO: React component needs to be replaced!!! -->
    <%= react_component("BankDropdown", { banks: @countries_json, selectedOption: 'All countries' }) %>

    <div class="ascor-header container">
      <div class="links">
        <% if @methodology_publication.present? %>
          <a href="#methodology" class="link with-icon">
            <img src="<%= asset_path 'icons/arrow-down.svg'%>" alt="arrow down" class="is-hidden-touch" />
            Methodology
          </a>
        <% end %>
        <a href="#publications" class="link with-icon">
          <img src="<%= asset_path 'icons/arrow-down.svg'%>" alt="arrow down" class="is-hidden-touch" />
          Publications
        </a>
      </div>

      <%= link_to user_download_tpi_ascor_index_path, class: 'button is-primary is-pulled-right with-icon with-border' do %>
        <img src="<%= asset_path 'icons/download.svg'%>" alt="download icon" />
        Download all ASCOR data
      <% end %>
    </div>
  </div>

  <% if @methodology_publication.present? %>
    <section id="methodology" class="container">
      <div class="columns">
        <div class="column pages__content">
          <h4>Methodology</h4>

          <div>
            <%= @methodology_description&.text&.html_safe %>
          </div>
        </div>
        <div class="column">
          <%= render 'tpi/publications/list', publications_and_articles: [@methodology_publication] %>
        </div>
      </div>
    </section>
  <% end %>

  <hr>

  <section id="publications" class="section promoted-publications">
    <div class="container">
      <div class="promoted-publications__title">
        <div class="promoted-publications__title-text">Publications and news</div>

        <%= link_to 'View all publications and news', tpi_publications_path, class: 'button is-secondary is-hidden-touch' %>
      </div>

      <% if @publications_and_articles.any? %>
        <%= render "tpi/publications/promoted", publications_and_articles: @publications_and_articles, count: @publications_and_articles.count %>
      <% else %>
        <div class="promoted-publications__no-data">
          There are currently no articles related to ASCOR available, but check all our other publications and news.
        </div>
      <% end %>
      <div class="view-all-btn__container">
        <a href="/publications" class="button is-secondary is-hidden-desktop">View all news</a>
      </div>
    </div>
  </section>
</div>