<h1>Sector Details</h1>
<%= link_to 'back to all Sectors', sectors_path %>

<h3>Management Quality: <%= @sector.name %></h3>
<p>Distribution of companies in the <strong><%= @sector.name %></strong> sector according to the management of their greenhouse gas emissions and of risks and opportunities to the low-carbon transition.</p>

<div class="chart">
<%= pie_chart(
      @companies_by_levels.map { |level, companies| [level, companies.size] },
      donut: true,
      library: {
      tooltip: { enabled: false },
      plotOptions: {
        pie: {
          dataLabels: {
            format: 'Level {point.name} <br> {point.y} companies <br> {point.percentage:.1f}%'
          }
        }
      }
    }
  ) %>
</div>

<br><br><br>

<div class="container" style="display: flex; flex-direction: row; justify-content: center;">
<%- @companies_by_levels.each do |level, companies| -%>
  <div class="sector-level">
    <div class="sector-level-desc">
      <%= level %>
    </div>
    <div class="sector-companies">
      <ul>
      <%- companies.each do |company| %>
        <li><%= company[:name] %></li>
      <%- end %>
      </ul>
    </div>
  </div>
<%- end %>
</div>

<h3>Carbon Performance: <%= @sector.name %></h3>
<div class="chart">
<%= line_chart(
      @companies_by_levels.map {|_level, companies| companies }.flatten.map do |company|
      {
        name: company[:name],
        data: company[:emissions]
      }
    end,
      width: '1200px',
      height: '800px'
  )%>
</div>
