<h1>Sector Details</h1>
<%= link_to 'back to all Sectors', sectors_path %>

<hr>

<h3>Management Quality: <%= @sector.name %></h3>
<p>Distribution of companies in the <strong><%= @sector.name %></strong> sector according to the management of their greenhouse gas emissions and of risks and opportunities related to the low-carbon transition.</p>

<div class="chart">
<%= pie_chart(
      levels_chart_data_sector_path(@sector.id),
      donut: true,
      library: {
        tooltip: { enabled: false },
        plotOptions: {
          pie: {
            dataLabels: {
              format: 'Level {point.name} <br> {point.y} companies <br> {point.percentage:.1f}%'
            }
          }
        }
      }
  ) %>
</div>

<br><br><br>

<div class="container">
<%- @companies_by_levels.each do |level, companies| -%>
  <div class="sector-level">
    <div class="sector-level-desc">
      <%= level %>
    </div>
    <div class="sector-companies">
      <ul>
      <%- companies.each do |company| %>
        <li><%= link_to company[:name], company_path(company[:id]) %> [<%= company[:status] %>]</li>
      <%- end %>
      </ul>
    </div>
  </div>
<%- end %>
</div>

<hr>

<!-- SECTORS -->
<h3>Carbon Performance: <%= @sector.name %></h3>
<div class="chart">
<%= line_chart(
      emissions_chart_data_sector_path(@sector.id),
      width: '1200px',
      height: '800px',
      library: {
        legend: {
          verticalAlign: 'top',
        },
        plotOptions: {
          area: {
            fillOpacity: 0.3,
            marker: {
              enabled: false
            }
          }
        }
      }
  )%>
</div>
