<section class="hero <%= 'header__margin' if @current_user.present? %>">
  <div class="hero-head">
    <div class="navbar">
      <div class="container">
        <div class="brand">
          <%= link_to 'http://www.lse.ac.uk/' do %>
            <img class="navbar-logo" src="<%= asset_path 'logo/LSE_logo.svg'%>" alt="London School of Economics and Political Science" />
          <% end %>
          <%= link_to 'http://www.lse.ac.uk/granthamInstitute' do %>
            <img src="<%= asset_path 'logo/RICCE_logo.svg'%>" alt="Grantham Research Institute on Climate Change and the Environment" />
          <% end %>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="menu">
                <% if @header_pages.any? %>
                  <% @header_pages.each do |page| %>
                    <a href="<%= page[:slug] %>"><%= page[:title] %></a>
                  <% end %>
                <% end %>
                <% if @both.any? %>
                  <% @both.each do |page| %>
                    <a href="<%= page[:slug] %>"><%= page[:title] %></a>
                  <% end %>
                <% end %>
                <%= link_to 'Climate Laws Publications',
                  'http://www.lse.ac.uk/GranthamInstitute/tag/cclw/',
                  target: "_blank", rel: "noopener noreferrer" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="hero__title">Climate Change Laws of the World</h1>
      <div class="columns">
        <div class="column is-two-thirds hero__p-container">
          <p>Use our database to search and browse climate laws, policies and litigation cases globally.</p>
        </div>
      </div>

      <%= react_component("LawsDropdown", {
        geographies: @search_geographies,
        lawsAndPolicies: @search_laws_and_policies,
        litigations: @search_litigations,
        targets: @search_targets,
        recentDate: @search_recent_date,
        recentLaws: @recent_laws,
        recentLitigations: @recent_litigations
      }) %>
      <div class="overview-section">
        <div class="section__cell">
          <div class="item-name-block">
            <div class="img-type-container">
              <span class="icon icon__paper">
            </div>
            <div>
              <%= link_to 'Climate laws and policies', cclow_legislation_and_policies_path %>
            </div>
          </div>
          <div class="value-block">
            <div class="circle">
              <%= link_to Legislation.published.count, cclow_legislation_and_policies_path %>
            </div>
          </div>
        </div>
        <div class="section__cell">
          <div class="item-name-block">
            <div class="img-type-container">
              <span class="icon icon__scale">
            </div>
            <div>
              <%= link_to "Climate litigation cases", cclow_litigation_cases_path %>
            </div>
          </div>
          <div class="value-block">
            <div class="circle">
              <%= link_to (Litigation.published.count + Geography.published.sum(:external_litigations_count)), cclow_litigation_cases_path %>
            </div>
          </div>
        </div>
        <div class="section__cell spacer"></div>
        <div class="section__cell country-profiles-section">
          <div class="item-name-block">
            <div class="img-type-container">
              <span class="icon icon__white-flag">
            </div>
            <div>Featured country profiles</div>
          </div>
          <div class="value-block">
            <ul>
              <% @featured_countries.each do |country| %>
                <li><%= link_to country.name, cclow_geography_path(country.slug) %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="section__cell with-map">
          <div class="item-name-block">
            <div class="img-type-container">
              <span class="icon icon__globe">
            </div>
            <div>Visualise data on the map</div>
          </div>

          <div class="value-block">
            <a href="#map-section">
              <img class="icon__world-map" src="<%= asset_path 'cclow/countries@2x.png' %>" alt="World map">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#map-section" class="arrow-btn" aria-label="Go to Map Section">
    <i class="fa fa-angle-down fa-2x"></i>
  </a>
</section>
