<% content_for :page_title, 'Climate Laws - Home' %>
<section class="section is-medium latest_additions__container">
  <h5 class="title">
    Latest additions
  </h5>
  <%= render 'cclow/home/latest_additions' %>
</section>
<section>
  <%= render "layouts/cclow/publications-banner", link: 'http://www.lse.ac.uk/GranthamInstitute/publications/' %>
</section>
<section id="map-section" class="section is-medium section__map">
  <h5 class="title">
    Visualise data on the map
  </h5>
  <p class="content">
    The Climate Change Laws of the World map helps you visualise our data by showing climate laws, policies and
    litigation cases (content – left dropdown) in relation to key contextual indicators (context – right dropdown).
    Select two options from the dropdown menus below to get started.
  </p>
  <%= react_component("world-map/WorldMap") %>
</section>

<section class="section is-medium collaborators__container">

  <h5>In collaboration with</h5>

  <div class="collaborators__img" >
    <a href="https://www.law.columbia.edu/" target="_blank" >
      <%= image_tag('collaborators/collaborator_logo_01', srcset: {'collaborators/collaborator_logo_01@2x': '2x'}) %>
    </a>
    <a href="https://www.ipu.org/" target="_blank">
      <%= image_tag('collaborators/collaborator_logo_02', srcset: {'collaborators/collaborator_logo_02@2x': '2x'}) %>
    </a>
    <a href="https://globelegislators.org/" target="_blank">
      <%= image_tag('collaborators/collaborator_logo_03', srcset: {'collaborators/collaborator_logo_03@2x': '2x'}) %>
    </a>
    <a href="https://www.wri.org/" target="_blank">
      <%= image_tag('collaborators/collaborator_logo_04', srcset: {'collaborators/collaborator_logo_04@2x': '2x'}) %>
    </a>
  </div>


</section>
