<%= semantic_form_for [:admin, resource], builder: ActiveAdmin::FormBuilder, html: {'data-controller' => 'check-modified with-emission-table-form'} do |f| %>
  <%= f.semantic_errors(*f.object.errors.keys) %>

  <%= f.inputs do %>
    <%= f.input :sector, collection: TPISector.tpi_tool %>
    <%= f.input :category, as: :select, collection: TPISector::CATEGORIES %>
    <%= f.input :release_date %>
    <%= f.input :scenario %>
    <%= f.input :region, as: :select, collection: CP::Benchmark::REGIONS %>
    <%= f.input :emissions, as: :hidden, input_html: { value: f.object.emissions.to_json, id: 'input_emissions' } %>
  <% end %>

  <div class="panel">
    <h3>Benchmark emission values</h3>
    <div class="panel-contents padding-20">
      <%= render "admin/cp/emissions_table_edit", f: f %>
    </div>
  </div>

  <%= f.actions do %>
    <%= f.action :submit %>
    <%= f.action :cancel, :wrapper_html => { :class => 'cancel' } %>
  <% end %>
<% end %>
