<%= semantic_form_for [:admin, resource], builder: ActiveAdmin::FormBuilder, html: {'data-controller' => 'check-modified'} do |f| %>
  <%= f.semantic_errors(*f.object.errors.keys) %>

  <div class="tabs" data-controller="tabs">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="#details">Details</a></li>
      <li><a href="#events">Events</a></li>
      <li><a href="#documents">Documents</a></li>
    </ul>

    <%= hidden_field_tag :active_tab, params[:active_tab], 'data-target' => 'tabs.activeTab' %>

    <div class="tab-content">
      <div id="details">
        <%= f.inputs do %>
          <%= f.input :title %>
          <%= f.input :description, as: :trix %>
          <%= f.input :parent_id, as: :select, label: 'Parent Legislation',
            collection: Legislation.where(parent_id: nil).order(:title) %>
          <%= f.input :legislation_type, as: :select %>
          <%= f.input :sector %>
          <%= f.input :document_type_ids, label: 'Document', as: :tags,
            collection: DocumentType.order(Arel.sql('LOWER(name) ASC')) %>
          <%= f.input :instrument_ids, label: 'Instrument', as: :select,
            collection: Instrument.ordered_with_parent.to_select, input_html: { multiple: true } %>
          <%= f.input :governance_ids, label: 'Governance', as: :select,
            collection: Governance.ordered_with_parent.to_select, input_html: { multiple: true } %>
          <%=
            Arbre::Context.new do
              columns do
                column { f.input :geography, collection: Geography.order(:name) }
                column { f.input :date_passed }
                column do
                  f.input :framework_ids, label: 'Frameworks', as: :tags,
                    collection: Framework.all
                end
                column do
                  f.input :visibility_status, as: :select
                end
              end
            end
          %>
        <%= f.input :natural_hazards_string, label: 'Natural Hazards', hint: t('hint.tag'), as: :tags, collection: NaturalHazard.pluck(:name) %>
        <%= f.input :keywords_string, label: 'Keywords', hint: t('hint.tag'), as: :tags, collection: Keyword.pluck(:name) %>
        <%= f.input :responses_string, as: :tags, label: 'Responses (e.g. adaptation or mitigation)',
          hint: t('hint.tag'), collection: Response.pluck(:name) %>
        <% end %>
      </div>

      <div id="events">
        <%= f.inputs 'List of legislation\'s events' do %>
          <%= render 'admin/events/list', form: f %>
        <% end %>
      </div>

      <div id="documents">
        <%= f.inputs 'List of related documents and links' do %>
          <%= render 'admin/documents/list', form: f %>
        <% end %>
      </div>
    </div>
  </div>

  <%= f.actions do %>
    <%= f.action :submit %>
    <%= f.action :cancel, :wrapper_html => { :class => 'cancel' } %>
  <% end %>
<% end %>
