<h1>Sectors dashboard</h1>

Sectors:
<%= @sectors.map {|s| link_to s.name, tpi_sector_path(s.slug)}.join(', ').html_safe %>
<br>
<br>
Companies:
<%= @companies.map {|c| link_to c.name, tpi_company_path(c.slug)}.join(', ').html_safe %>

<br><br><hr>

<h3>Management Quality: All sectors</h3>
<p>Distribution of companies in All sectors according to the management of their greenhouse gas emissions and of risks and opportunities to the low-carbon transition.</p>

<div class="chart">
<%= pie_chart(
      levels_chart_data_tpi_sectors_path,
      donut: true,
      library: mq_sector_pie_chart_options
  ) %>
  <div class="chart-title">
    <p class="companies-size"><%= @companies.size %></p>
    companies
  </div>
</div>

<hr>

<h4>Market Cap</h4>
<p>TODO: bubble chart for sectors / levels</p>
  <%= react_component("BubbleChart", { companies: @companies_by_levels, levels: @companies_by_sectors }) %>
<hr>

<h3>Carbon Performance: All sectors</h3>
<p>CP alignment with the Paris agreement benchmarks by sector and cluster (number and % of companies). Please note that this information is not available for all sectors.</p>

<div class="chart">
<%= column_chart(
      benchmarks_chart_data_tpi_sectors_path,
      stacked: true,
      width: '1200px',
      library: default_chart_options
    ) %>
</div>
