<div class="sectors-index-page">
  <div class="dropdown-selector-sector-page-wrapper">
    <%= react_component("DropdownSelector", { sectors: @sectors, companies: @companies, selectedOption: 'All sectors' }) %>
  </div>
  

  <div class="sectors-header">
    <div class="container">
      <a href="#management-quality" class="link with-icon is-pulled-left">
        <img src="<%= asset_path 'icons/arrow-down.svg'%>" />
        Go to Management Quality
      </a>
      <a href="#carbon-performance" class="link with-icon is-pulled-left">
        <img src="<%= asset_path 'icons/arrow-down.svg'%>" />
        Go to Carbon Performance
      </a>

      <button class="button is-primary with-border is-pulled-right">
        Download All sectors data
      </button>
    </div>
  </div>

  <section id="management-quality" class="container">
    <h4>Management Quality: All sectors</h4>

    <p>Distribution of companies in All sectors according to the management of their greenhouse gas emissions and of risks and opportunities to the low-carbon transition.</p>

    <div class="chart">
      <%= pie_chart(
        levels_chart_data_tpi_sectors_path,
        donut: true,
        library: mq_sector_pie_chart_options
        ) %>
      <div class="chart-title">
        <p class="companies-size"><%= @companies.size %></p>
        companies
      </div>
    </div>

    <%= react_component("BubbleChart", { levels: @companies_by_sectors, sectors: @sectors }) %>
  </section>

  <section id="carbon-performance" class="container">
    <h4>Carbon Performance: All sectors</h4>

    <p>CP alignment with the Paris agreement benchmarks by sector and cluster (number and % of companies). Please note that this information is not available for all sectors.</p>

    <div class="chart">
      <%= column_chart(
        benchmarks_chart_data_tpi_sectors_path,
        stacked: true,
        width: '1200px',
        library: default_chart_options
        ) %>
    </div>
  </section>
</div>
