<% content_for :page_title, "Tool - Transition Pathway Initiative" %>
<% content_for :page_description, "The TPI tool is a corporate climate action benchmark which assesses how prepared companies are for the transition to a low-carbon economy." %>

<div class="sectors-index-page">
  <div class="dropdown-selector-sector-page-wrapper">
    <%= react_component("DropdownSelector", {
        sectors: @sectors_json,
        companies: TPI::CompanyDecorator.decorate_collection(@companies),
        selectedOption: 'All sectors'
    }) %>
  </div>

  <div class="sectors-header">
    <div class="container">
      <div class="mq-beta-scores">
        <%= render 'tpi/shared/mq_beta_scores', has_data: true %>
        <div class="mq-beta-scores__download-button">
          <%= react_component('DownloadFormModal', {
            downloadUrl: user_download_all_tpi_sectors_path
          }) %>
          <%= link_to user_download_methodology_tpi_sectors_path, class: 'button is-primary is-pulled-right with-icon with-border' do %>
            <img src="<%= asset_path 'icons/download.svg'%>" alt="download icon" />
            Download Methodology
          <% end %>
          
        </div>
      </div>
    </div>
  </div>

  <section id="management-quality" class="container">
    <h3 class="title-blue">Explore the distribution of companies across all sectors based on greenhouse gas emissions management and low-carbon transition risks and opportunities.</h3>

    <h4>Number of Companies by Management Quality</h4>

    <%= react_component('charts/mq-sector-pie', {
      dataUrl: levels_chart_data_tpi_sectors_path
    }) %>

    <h4>Number of Companies by Sector according to Management Quality</h4> 
    <%= react_component('charts/bubble/Chart', {
      levels: @companies_by_sectors,
      sectors: @sectors_json
    }) %>

    <%= react_component("charts/bubble/CompaniesAccordion", {
      levels: @companies_by_sectors,
      sectors: @sectors_json
    }) %>
  </section>

  <section id="carbon-performance" class="container">
    <h4>Carbon Performance in 2050: All sectors</h4>

    <p>CP alignment with the Paris agreement benchmarks by sector and cluster (number and % of companies). Please note that this information is not available for all sectors.</p>

    <%= react_component('charts/cp-performance-all-sectors', {
      dataUrl: cp_performance_chart_data_tpi_sectors_path,
      sectors: TPI::CPPerformanceSectorDecorator.decorate_collection(@sectors).map(&:to_h)
    }) %>
  </section>
</div>
