<% content_for :page_title, "#{@sector.name} - Transition Pathway Initiative" %>
<% content_for :page_description, "Description: Compare and assess how prepared the world’s top companies in the #{@sector.name} sector are for the transition to a low-carbon economy." %>

<div class="sector-page">
  <div class="dropdown-selector-sector-page-wrapper">
    <%= react_component("DropdownSelector", {
        sectors: @sectors,
        companies: TPI::CompanyDecorator.decorate_collection(@companies),
        selectedOption: @sector.name
    }) %>
  </div>

  <div class="sectors-header">
    <div class="container is-hidden-touch">
      <div class="mq-beta-scores">
        <div class="mq-beta-scores__download-button">
          <%= button_to user_download_methodology_tpi_sectors_path, class: 'button is-primary is-pulled-right with-icon with-border', method: :get do %>
            <img src="<%= asset_path 'icons/download.svg'%>" alt="download icon" />
            Methodology
          <% end %>
          <%= react_component('DownloadFormModal', {
            title: 'Explore CP data access',
            buttonClass: 'button is-primary with-icon with-border',
            downloadUrl: user_download_cp_tpi_sector_path(@sector),
            source: 'cp',
            showIcon: true
          }) %>
          <%= react_component('DownloadFormModal', {
            title: 'Explore MQ data access',
            buttonClass: 'button is-primary with-icon with-border',
            downloadUrl: user_download_mq_tpi_sector_path(@sector),
            source: 'mq',
            showIcon: true
          }) %>
        </div>
      </div>
    </div>
    <div class="container is-hidden-desktop">
      <div class="mq-beta-scores">
        <%= render 'tpi/shared/mq_beta_scores', has_data: true %>
      </div>
    </div>
  </div>

  <section id="management-quality" class="container">
    <h4>Management Quality: <%= @sector.name %></h4>

    <p>
      Distribution of companies in the <strong><%= @sector.name %></strong> sector according to the management of their greenhouse gas emissions and of risks and opportunities related to the low-carbon transition.
    </p>

    <%= react_component('charts/mq-sector-pie', { dataUrl: levels_chart_data_tpi_sector_path(@sector.id) }) %>

    <h4>Number and Detailed Companies Lists by Management Quality </h4>
    <%= react_component("charts/bubble/CompaniesAccordion", { levels: @companies_by_levels, by_sector: false }) %>

    <%= react_component('charts/mq-sector-bar', { data:  @companies_by_levels, sector: @sector.name }) %>

  </section>

  <% if any_cp_assessment? %>
    <section id="carbon-performance" class="container">
      <div class="cp-performance-header">
        <h4>Carbon Performance: <%= @sector.name %></h4>
        <p class="is-hidden-desktop"><%= "Carbon Performance alignment of companies in the #{@sector.name} sector with the Paris agreement benchmarks." %></p>
        <div class="show-by-dropdown">
          Showing:
          <div id="show-by-dropdown-placeholder"></div>
        </div>
      </div>

      <%= react_component('charts/cp-performance', {
        dataUrl: emissions_chart_data_tpi_sector_path(@sector.id),
        sectorName: @sector.name,
        unit: @sector.latest_cp_unit&.unit
        }) %>
    </section>
  <% end %>
</div>
