<% content_for :page_title, "Climate Laws - #{@page.title}" %>
<div class="pages__content">
  <div class="pages__title"><%= @page.title %></div>
  <div class="pages__description">
    <%= @page.description&.html_safe %>
  </div>
  <% @page.contents.order(:created_at).each do |content| %>
    <div class="pages__description">
      <h4><%= content.title %></h4>
      <div class="pages__description"><%= content.text.html_safe %></div>
      <% if content.images.any? %>
        <div class="pages__content-logos">
          <% content.images.order(:name).each do |image| %>
            <%= link_to(image_tag(image.logo), image.link) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
