<ul class="content-list">
  <% legislations.each do |legislation| %>
    <li>
      <div class="meta"><img class="flag" src=<%= asset_path "flags/#{legislation.geography.iso}.svg"%> alt="">
        This law implements <%= legislation.geography.name %> legislation
      </div>
      <h5 class="title">
        <%= link_to legislation.title, cclow_geography_law_path(legislation.geography, legislation) %>
      </h5>
      <p class="meta">
        <span>Passed in <%= legislation.date_passed&.year %></span>
        <span><%= legislation.legislation_type&.humanize %></span>
      </p>
      <p>
        <%= legislation.description&.html_safe %>
      </p>
    </li>
  <% end %>
</ul>
