<% areas = assessment.results_by_indicator_type["area"] %>
<% areas.each do |area| %>
  <input id="<%= dom_id(area) %>" type="checkbox" class="toggle" />
  <div class="bank-assessment__area">
    <div for="<%= dom_id(area) %>" class="bank-assessment__area-header">
      <div>
        <small>Area <%= area.indicator.number %></small>
        <h2><%= area.indicator.text %></h2>
      </div>
      <%
        average_score = number_with_precision(assessment.average_bank_score[area.indicator.text], precision: 1, strip_insignificant_zeros: true)
        max_score = number_with_precision(assessment.max_bank_score[area.indicator.text], precision: 1, strip_insignificant_zeros: true)
      %>
      <div class="bank-assessment__area-value">
        <div
          class="bank-assessment__area-value-average"
          style="left: <%= average_score %>%;"
        >
          <%= svg "icons/white-chevron-down" %>
          <div class="bank-assessment__tooltip">
            <div class="bank-assessment__tooltip-header">ALL BANKS AVERAGE</div>
            <div class="bank-assessment__tooltip-text"><%= average_score %>%</div>
          </div>
        </div>
        <div
          class="bank-assessment__area-value-max"
          style="left: <%= max_score %>%;"
        >
          <%= svg "icons/white-chevron-down" %>
          <div class="bank-assessment__tooltip">
            <div class="bank-assessment__tooltip-header">ALL BANKS MAX SCORE</div>
            <div class="bank-assessment__tooltip-text"><%= max_score %>%</div>
          </div>
        </div>
        <div class="bank-assessment__area-value-progress" style="width: <%= area.percentage.to_i %>%;">
          <% if area.percentage >= 5 %>
            <div class="bank-assessment__area-value-value">
              <%= number_with_precision(area.percentage, precision: 1, strip_insignificant_zeros: true) %>%
            </div>
          <% end %>
        </div>
        <% if area.percentage < 5 %>
          <div class="bank-assessment__area-value-value">
            <%= number_with_precision(area.percentage, precision: 1, strip_insignificant_zeros: true) %>%
          </div>
        <% end %>
      </div>
      <label class="bank-assessment__more" for="<%= dom_id(area) %>">
      </label>
    </div>

    <div class="bank-assessment__area-content">
      <% sub_areas = assessment.child_indicators(area, "sub_area") %>

      <% if sub_areas.any? %>
        <% sub_areas.each do |sub_area| %>
          <input id="<%= dom_id(sub_area) %>" type="checkbox" class="toggle" checked />
          <div class="bank-assessment__sub-area">
            <div class="bank-assessment__sub-area-header">
              <h3>
                <%= sub_area.indicator.display_text %>
              </h3>

              <label class="bank-assessment__more" for="<%= dom_id(sub_area) %>">
              </label>
            </div>

            <div class="bank-assessment__sub-area-content">
              <%= render "indicators", assessment: assessment, indicators: assessment.child_indicators(sub_area, "indicator") %>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= render "indicators", assessment: assessment, indicators: assessment.child_indicators(area, "indicator") %>
      <% end %>
    </div>
  </div>
<% end %>
