<% content_for :page_title, "Banking Tool - Transition Pathway Initiative" %>
<% content_for :page_description, "Compare and assess how prepared the world’s largest banks are for the transition to a low-carbon economy" %>

<div class="banks-index-page">
  <div class="banks-index-page__info">
    <div class="container">
      <div class="title">Introduction</div>
      <p class="description">Our goal is to provide high-quality data to evaluate and compare the progress banks are making in aligning their financing activities with the goals of the Paris Agreement. In 2025, the TPI Centre assessed 36 major international banks:</p>
      <ol>
        <li>
          <strong>Net Zero Banking Assessment Framework (NZBAF)</strong>, an investor-led framework developed in consultation with IIGCC and Ceres evaluating banks on 77 sub-indicators across ten areas, such as their decarbonisation strategy, climate governance, or exposure and emissions disclosure.
        </li>
        <li>
          <strong>Carbon Performance</strong>, an in-depth quantitative assessment of which sectors and business activities are covered by banks’ decarbonisation targets over different timeframes and their level of alignment with low carbon benchmarks (1.5°C, Below 2°C, International and National Pledges).
        </li>
      </ol>
    </div>
  </div>
  <div class="dropdown-selector-wrapper">
    <%= react_component("BankDropdown", {
      banks: @banks_json,
      selectedOption: 'All banks'
      }) %>

    <div class="banks-header container">
      <div>
        <% if @methodology_publications.any? %>
          <a href="#methodology" class="link with-icon is-pulled-left">
            <img src="<%= asset_path 'icons/arrow-down.svg'%>" alt="arrow down" class="is-hidden-touch" />
            Methodology
          </a>
        <% end %>
        <a href="#publications" class="link with-icon is-pulled-left">
          <img src="<%= asset_path 'icons/arrow-down.svg'%>" alt="arrow down" class="is-hidden-touch" />
          Publications
        </a>
      </div>

      <%= react_component('DownloadFormModal', {
        title: 'Explore Banks data access',
        buttonClass: 'button is-primary is-pulled-right with-icon with-border',
        downloadUrl: user_download_tpi_banks_path,
        source: 'banks',
        showIcon: true
      }) %>
    </div>
  </div>

  <section class="container no-position">
    <div class="banks-score-header">
      <h2 class="is-size-4">
        Average bank score across each area
      </h2>

      <div class="banks-score-header__assessment-dropdown">
        <div class="caption">
          Assessment Date:
        </div>
        <div class="date-dropdown">
          <%= react_component('RemoteDropdown', {
            name: 'assessment_date',
            remote: true,
            url: index_assessment_tpi_banks_path(@bank),
            data: @assessment_dates.map {|v| {label: v&.strftime('%d %B %Y'), value: v}},
            selected: @date
            }) %>
        </div>
      </div>
    </div>
    <div class="banks-score-description">
      Assessed banks alignment across the ten areas (% of sub-indicators aligned with)
    </div>

    <div id="assessment-charts">
      <%= render 'index_charts' %>
    </div>
  </section>

  <% if @methodology_publications.any? %>
    <section id="methodology" class="container">
      <div class="columns is-variable is-8 is-align-items-flex-start">
        <div class="column is-half pages__content">
          <h4>Methodology</h4>

          <div>
            <%= @methodology_description&.text&.html_safe %>
          </div>
        </div>
        <div class="column is-half" style="padding-top: 0;">
          <%= render 'tpi/publications/list', publications_and_articles: @methodology_publications %>
        </div>
      </div>
    </section>
  <% end %>

  <hr>

  <section id="publications" class="section tpi-banks__promoted-publications">
    <div class="container">
      <div class="promoted-publications__title">
        <div class="promoted-publications__title-text">Publications and news</div>

        <%= link_to 'View all publications and news', tpi_publications_path, class: 'button is-secondary is-hidden-touch' %>
      </div>

      <% if @publications_and_articles.any? %>
        <%= render "tpi/publications/promoted", publications_and_articles: @publications_and_articles, count: @publications_and_articles.count %>
      <% else %>
        <div class="promoted-publications__no-data">
          There are currently no articles related to banking available, but check all our other publications and news.
        </div>
      <% end %>
      <div class="view-all-btn__container">
        <a href="/publications" class="button is-secondary is-hidden-desktop">View all news</a>
      </div>
    </div>
  </section>
</div>
