<% content_for :page_title, "Banking Tool - Transition Pathway Initiative" %>
<% content_for :page_description, "TODO: Description of Banking tool" %>

<div class="banks-index-page">
  <div class="dropdown-selector-wrapper">
    <%= react_component("BankDropdown", {
      banks: @banks_json,
      selectedOption: 'All banks'
      }) %>
  </div>

  <section class="container">
    <div class="banks-score-header">
      <h2 class="is-size-4">
        Average bank score across each area: <%= react_component("BaseTooltip", { content: t('tpi.tooltips.bank_average_score') }) %>
      </h2>

      <div class="banks-score-header__assessment-dropdown">
        <div class="caption">
          Assessment Date: <%= react_component("BaseTooltip", { content: t('tpi.tooltips.bank_assessment_date') }) %>
        </div>
        <div class="date-dropdown">
          <%= react_component('RemoteDropdown', {
            name: 'assessment_date',
            remote: true,
            url: index_assessment_tpi_banks_path(@bank),
            data: @assessment_dates.map {|v| {label: v&.strftime('%d %B %Y'), value: v}},
            selected: @date
            }) %>
        </div>
      </div>
    </div>
    <div class="banks-score-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam molestie non lectus eu mollis. Vestibulum vehicula lorem a justo finibus porttitor non at urna.
    </div>

    <div id="assessment-charts">
      <%= render 'index_charts' %>
    </div>
  </section>

  <% if @publications_and_articles.any? %>
    <hr>

    <section class="section tpi-banks__promoted-publications">
      <div class="container">
        <div class="promoted-publications__title">
          <div class="promoted-publications__title-text">Publications and news</div>

          <%= link_to 'View all publications and news', tpi_publications_path, class: 'button is-secondary is-hidden-touch' %>
        </div>

        <%= render "tpi/publications/promoted", publications_and_articles: @publications_and_articles %>
        <div class="view-all-btn__container">
          <a href="/publications" class="button is-secondary is-hidden-desktop">View all news</a>
        </div>
      </div>
    </section>
  <% end %>
</div>
