<% content_for :page_title, "#{@bank.name} - Transition Pathway Initiative" %>
<% content_for :page_description, "Assess how prepared #{@bank.name} is for the transition to a low-carbon economy" %>

<div class="bank-page">
  <div class="dropdown-selector-wrapper">
    <%= react_component("BankDropdown", { banks: @banks, selectedOption: @bank.name }) %>
  </div>

  <div class="bank-header">

  </div>

  <section class="container summary-boxes">
    <div class="columns">
      <div class="column">
        <div class="summary-box">
          <div class="columns">
            <div class="column">
              <%= render 'tpi/shared/property', highlight: true, name: 'Geography', tooltip: t('.tooltips.geography') do %>
                <%= @bank.geography.name %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'tpi/shared/property', highlight: true, name: 'Sector' do %>
                <%= link_to "Banks", tpi_banks_path %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'tpi/shared/property', highlight: false, name: 'Market cap (Group)', tooltip: t('.tooltips.market_cap') do %>
                <%= @bank.market_cap_group %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'tpi/shared/property', highlight: false, name: 'ISIN', tooltip: t('.tooltips.ISIN') do %>
                <%= @bank.isin_array.join('<br/>').html_safe %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'tpi/shared/property', highlight: false, name: 'SEDOL', tooltip: t('.tooltips.SEDOL') do %>
                <%= @bank.sedol %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% if @results_by_indicator_type.present? %>
    <section class="container bank-assessment">
      <% areas = @results_by_indicator_type["area"] %>

      <% areas.each do |area| %>
        <input id="<%= dom_id(area) %>" type="checkbox" class="toggle" checked />
        <div class="bank-assessment__area">
          <div for="<%= dom_id(area) %>" class="bank-assessment__area-header">
            <small>Area <%= area.indicator.number %></small>
            <h2><%= area.indicator.text %></h2>
            <label class="bank-assessment__area-label" for="<%= dom_id(area) %>">
            </label>
          </div>

          <div class="bank-assessment__area-content">
            <% sub_areas = child_indicators(area, "sub_area") %>

            <% if sub_areas.any? %>
              <% sub_areas.each do |sub_area| %>
                <input id="<%= dom_id(sub_area) %>" type="checkbox" class="toggle" checked />
                <div class="bank-assessment__sub-area">
                  <div class="bank-assessment__sub-area-header">
                    <h3>
                      <%= sub_area.indicator.display_text %>
                    </h3>

                    <label class="bank-assessment__sub-area-label" for="<%= dom_id(sub_area) %>">
                    </label>
                  </div>

                  <div class="bank-assessment__sub-area-content">
                    <%= render "indicators", indicators:  child_indicators(sub_area, "indicator") %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <%= render "indicators", indicators:  child_indicators(area, "indicator") %>
            <% end %>
          </div>
        </div>
      <% end %>
    </section>
  <% end %>
</div>
