<% content_for :page_title, "#{@bank.name} - Transition Pathway Initiative" %>
<% content_for :page_description, "Assess how prepared #{@bank.name} is for the transition to a low-carbon economy" %>

<div class="bank-page">
  <div class="dropdown-selector-wrapper">
    <%= react_component("BankDropdown", { banks: @banks, selectedOption: @bank.name }) %>
  </div>

  <div class="bank-header">

  </div>

  <section class="container summary-boxes">
    <div class="columns">
      <div class="column">
        <div class="summary-box">
          <div class="columns">
            <div class="column">
              <%= render 'tpi/shared/property', highlight: true, name: 'Geography', tooltip: t('.tooltips.geography') do %>
                <%= @bank.geography.name %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'tpi/shared/property', highlight: true, name: 'Sector' do %>
                <%= link_to "Banks", tpi_banks_path %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'tpi/shared/property', highlight: false, name: 'Market cap (Group)', tooltip: t('.tooltips.market_cap') do %>
                <%= @bank.market_cap_group %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'tpi/shared/property', highlight: false, name: 'ISIN', tooltip: t('.tooltips.ISIN') do %>
                <%= @bank.isin_array.join('<br/>').html_safe %>
              <% end %>
            </div>
            <div class="column">
              <%= render 'tpi/shared/property', highlight: false, name: 'SEDOL', tooltip: t('.tooltips.SEDOL') do %>
                <%= @bank.sedol %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% if @results_by_indicator_type.present? %>
    <section class="container bank-assessment">
      <%= render 'assessment', results_by_indicator_type: @results_by_indicator_type %>
    </section>
  <% end %>
</div>
