<div class="padding-20" data-controller="document-list">
  <template data-target="document-list.templateExternal">
    <%= form.semantic_fields_for :documents, Document.new(type: 'external'), child_index: 'NEW_RECORD' do |document| %>
      <%= render "admin/documents/fields", form: document %>
    <% end %>
  </template>

  <template data-target="document-list.templateUploaded">
    <%= form.semantic_fields_for :documents, Document.new(type: 'uploaded'), child_index: 'NEW_RECORD' do |document| %>
      <%= render "admin/documents/fields", form: document %>
    <% end %>
  </template>

  <%= form.semantic_fields_for :documents do |document| %>
    <%= render "admin/documents/fields", form: document %>
  <% end %>

  <div data-target="document-list.links">
    <%= link_to "Add External URL", "#", class: 'button', data: { action: "click->document-list#addRecord", template: 'External' } %>
    <%= link_to "Upload a new file", "#", class: 'button', data: { action: "click->document-list#addRecord", template: 'Uploaded' } %>
  </div>
</div>
