<div class="cclow-geography-page">
  <aside>
    <ul>
      <li><%= link_to 'Overview and context', cclow_geography_path(@geography) %></li>
      <li><%= link_to "Laws (#{@geography_overview.number_of_laws})", laws_cclow_geography_path(@geography) %></li>
      <li><%= link_to "Policies (#{@geography_overview.number_of_policies})", policies_cclow_geography_path(@geography) %></li>
      <li><%= link_to "Litigation cases (#{@geography_overview.number_of_litigation_cases})", litigation_cases_cclow_geography_path(@geography) %></li>
      <li><%= link_to 'Climate targets', climate_targets_cclow_geography_path(@geography) %></li>
    </ul>
  </aside>
  <main>
    <%= yield %>
  </main>
</div>
