<% list = [{caption: 'Laws', count: geography_overview.number_of_laws, img: 'img'},
           {caption: 'Policies', count: geography_overview.number_of_policies, img: 'img'},
           {caption: 'Litigation cases', count: geography_overview.number_of_litigation_cases, img: 'img'},
           {caption: 'Climate targets', count: geography_overview.number_of_targets, img: 'img'}] %>
<% properties = [{caption: 'Region', value: geography.region, question: false},
                 {caption: 'Rank as emitter', question: true},
                 {caption: 'Paris Agreement ratification status', question: false},
                 {caption: 'Income group (World Bank)', question: true},
                 {caption: 'Main groups', value: geography.political_groups.map(&:name).join('; '), question: false},
                 {caption: 'Federative/Unitary',
                  value: geography.federal ? "Federative #{geography.federal_details}" : 'Unitary', question: true}] %>
<section class="section is-medium">
  <div class="overview-section">
    <div class="indicators">
      <% list.each do |item| %>
        <div class="indicator">
          <div><%= item[:caption] %></div>
          <div class="indicator-value">
            <div class="value-container">
              <%= item[:count] %>
            </div>
            <div class="img-type-container">
              <%= item[:img] %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <hr>
    <% 2.times do |i| %>
      <div class="columns properties-container">
        <% 3.times do |j| %>
          <% item =  properties[(i * 3) + (j + 1) - 1]%>
          <div class="column is-one-third">
            <div class="property-name"><%= item[:caption] %>
              <% if item[:question] %>
                <span class="icon question-icon"><i class="fa fa-question"></i></span>
              <% end %>
            </div>
            <div class="property-value"><%= item[:value] %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
