<% content_for :page_title, "#{@geography.name} - Climate Change Laws of the World" %>
<% content_for :page_description, "Climate change laws, policies, litigation cases, targets and other climate policy data and indicators for #{@geography.name}" %>

<div class="content-show overview-page">
  <h3>Overview and context</h3>
  <%= render 'cclow/geographies/overview', geography_overview: @geography_overview, geography: @geography %>
  <% if @geography_events.any? %>
    <section class="section is-large">
      <% event_options = @geography_events_with_links.map{|o| {value: o[:event_type], label: o[:event_type].humanize}}.uniq.sort{ |a, b| a[:value] <=> b[:value] } %>
      <%= react_component("EventsTimeline", { events: @geography_events_with_links, options: event_options, isFiltered: true }) %>
    </section>
  <% end %>
  <hr>
  <section class="section is-medium">
    <h5>Visualise data on the map</h5>
    <div class="topic-details">
      The Climate Change Laws of the World map helps understand our database information in context by showing climate laws, policies, and litigation cases in relation to key climate-related indicators.

    </div>
    <section class="section is-medium">
      <%= react_component("world-map/WorldMap", zoomToGeographyIso: @geography.iso) %>
    </section>
  </section>

  <section class="section is-medium">
    <div class="details">
      <h5>Nationally Determined Contribution (UNFCCC website) </h5>
      <% if @geography.eu_member? %>
        <div class="topic-details">
          <div>
            <img class="flag" src=<%= asset_path "flags/EUR.svg"%> alt="EU flag">
            This country is a member of the EU and <a href="#" class="highlight">so EU NDC data</a> is being displayed.
          </div>
          <div class="meta">For further information about the EU's NDC, legislation, and targets, please see the
            <%= link_to "EU profile", cclow_geography_path(Geography.where(iso: 'EUR').first.slug), class: 'highlight' %>
          </div>
        </div>
      <% end %>
      <ul class="documents-list">
        <li class="document-item">
          <span class="document-icon">
            <i class="fa fa-lg fa-link"></i>
          </span>
          <a href="https://www4.unfccc.int/sites/NDCStaging/pages/Party.aspx?party=<%=@geography.iso%>" class="">
            visit UNFCCC NDCs registry for this country.
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="section is-medium">
    <h5>Legislative process</h5>
    <input id="legislative-process-toggle" class="legislative-process-toggle" type='checkbox' hidden>
    <div>
      <% if @geography_overview.legislative_process.present? %>
        <div class="legislative-process-preview">
          <%= @geography_overview.legislative_process_preview %>
        </div>
        <div class="legislative-process html-content">
          <%= @geography_overview.legislative_process.html_safe %>
        </div>
      <% else %>
        <p>No information available.</p>
      <% end %>
    </div>
  </section>
  <!--
  <hr>
  <section class="section is-medium">
    <h5>Related publications</h5>
    <%#= render 'publications' %>
  </section>
  -->
</div>
