<div class="content-show overview-page">
  <h3>Overview and context</h3>
  <%= render 'cclow/geographies/overview', geography_overview: @geography_overview, geography: @geography %>
  <section class="section is-medium">
    <div class="details">
      <h5>Nationally Determined Contribution (UNFCCC website) </h5>
      <div class="topic-details">
        <div>
          <img class="flag" src=<%= asset_path "flags/#{@geography.iso}.svg"%> alt="">
            This country is a member of the EU and <a href="#" class="highlight">so EU NDC data</a> is being displayed.
          </div>
        <div class="meta">For further information about the EU's NDC, legislation, and targets, please see the
          <a href="#" class="highlight">EU profile.</a>
        </div>
      </div>
      <ul class="documents-list">
        <li class="columns">
          <span class="document-icon column is-1">
            <i class="fa fa-lg fa-link"></i>
          </span>
          <a href="#" class="column is-11">First NDC submission (2016)</a>
        </li>
        <li class="columns">
          <span class="document-icon column is-1">
            <i class="fa fa-lg fa-link"></i>
          </span>
          <a href="#" class="column is-11">Second NDC submission (2020)</a>
        </li>
      </ul>
    </div>
  </section>
  <% if @geography.events.present? %>
    <section class="section is-large">
      <%= react_component("EventsTimeline", { events: @geography.events }) %>
    </section>
  <% end %>
  <hr>
  <section class="section is-medium">
    <h5>Visualise data on the map</h5>
    <div class="topic-details">
      The Climate Change Laws of the World map helps understand our database information in context by showing climate laws, policies, and litigation cases in relation to key climate-related indicators.
      <section class="section is-medium">
        <%= render 'map' %>
      </section>
    </div>
  </section>
  <section class="section is-medium">
    <h5>Legislative process</h5>
    <div>
      <%= @geography_overview.legislative_process&.html_safe %>
      <a href="#" class="highlight">Read more about Germany’s legislative process  >></a>
    </div>
  </section>
  <hr>
  <section class="section is-medium">
    <h5>Related publications</h5>
    <%= render 'publications' %>
  </section>
</div>
