<%= semantic_form_for [:admin, resource], builder: ActiveAdmin::FormBuilder, html: {'data-controller' => 'check-modified'} do |f| %>
  <%= f.semantic_errors(*f.object.errors.keys) %>

  <div class="tabs" data-controller="tabs">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="#details">Details</a></li>
      <li><a href="#events">Events</a></li>
      <li><a href="#documents">Documents</a></li>
      <li><a href="#sides">Sides</a></li>
    </ul>

    <%= hidden_field_tag :active_tab, params[:active_tab], 'data-target' => 'tabs.activeTab' %>

    <div class="tab-content">

      <div id="details">
        <%= f.inputs do %>
          <%= f.input :title %>
          <%= f.input :geography, collection: Geography.order(:name) %>
          <%= f.input :jurisdiction %>
          <%= f.input :citation_reference_number %>
          <%= f.input :laws_sector_ids, label: 'Sectors', as: :select,
            collection: LawsSector.order(:name), input_html: { multiple: true } %>
          <%= f.input :document_type, as: :select, collection: array_to_select_collection(Litigation::DOCUMENT_TYPES) %>
          <%= f.input :summary, as: :trix %>
          <%= f.input :at_issue, as: :trix %>
          <%= f.input :legislation_ids, as: :selected_list, label: 'Connected Laws', fields: [:title], display_name: :title, order: 'title_asc' %>
          <%= f.input :external_legislation_ids, as: :selected_list, label: 'Connected External Laws', fields: [:name], display_name: :name, order: 'name_asc' %>
          <%= f.input :visibility_status, visibility_status_select_options %>
          <%= f.input :keywords_string, as: :tags, label: 'Keywords', hint: t('hint.tag'), collection: Keyword.pluck(:name) %>
          <%= f.input :responses_string, as: :tags, label: 'Responses (e.g. adaptation or mitigation)', hint: t('hint.tag'), collection: Response.pluck(:name) %>
        <% end %>
      </div>

      <div id="sides">
        <%= f.inputs 'Litigation Sides' do %>
          <%= render 'sides_list', form: f %>
        <% end %>
      </div>

      <div id="events">
        <%= f.inputs "List of litigation's events" do %>
          <%= render 'admin/events/list', form: f %>
        <% end %>
      </div>

      <div id="documents">
        <%= f.inputs 'List of related documents and links' do %>
          <%= render 'admin/documents/list', form: f %>
        <% end %>
      </div>
    </div>
  </div>

  <%= f.actions do %>
    <%= f.action :submit %>
    <%= f.action :cancel, :wrapper_html => { :class => 'cancel' } %>
  <% end %>
<% end %>
