<footer class="footer">
  <div class="container">
    <h5 class="title">Climate Change Laws of the World</h5>
    <div class="columns footer-content">
      <div class="column is-one-quarter">
        <div class="section-name">Navigation</div>
        <ul>
          <% if @both.any? %>
            <% @both.each do |page| %>
              <li><a href="<%= page[:slug] %>"><%= page[:title] %></a></li>
            <% end %>
          <% end %>
          <% if @footer_pages.any? %>
            <% @footer_pages.each do |page| %>
              <li><a href="<%= page[:slug] %>"><%= page[:title] %></a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <div class="section-name">Grantham Research Institute</div>
        <ul>
          <li>
            <a
              href="http://www.lse.ac.uk/GranthamInstitute/publications/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Publications
            </a>
          </li>
          <li>
            <a
              href="http://www.lse.ac.uk/GranthamInstitute/news-and-commentary/"
              target="_blank"
              rel="noopener noreferrer"
            >
              News and commentaries
            </a>
          </li>
          <li>
            <a
              href="http://www.lse.ac.uk/GranthamInstitute/research/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Research topics
            </a>
          </li>
          <li>
            <a
              href="http://www.lse.ac.uk/GranthamInstitute/events/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Events
            </a>
          </li>
          <li>
            <a
              href="http://www.lse.ac.uk/GranthamInstitute/profile-type/00-staff/"
              target="_blank"
              rel="noopener noreferrer"
            >
              People
            </a>
          </li>
          <li>
            <a
              href="http://www.lse.ac.uk/GranthamInstitute/mailing-list/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Mailing list
            </a>
          </li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <div class="section-name">Contact</div>
        <ul>
          <li>Email: <a href="mailto:gri.cgl@lse.ac.uk">gri.cgl@lse.ac.uk</a></li>
          <li>Tel: +44 (0)20 7107 5027</li>
          <li>
            <a
              href="http://www.lse.ac.uk/GranthamInstitute/contact/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Full address information
            </a>
          </li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <div class="section-name">Follow us</div>
        <ul class="social-links">
          <li>
            <a
              href="https://twitter.com/GRI_LSE"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/granthamLSE"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fa fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/user/GranthamResearch"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/grantham-research-institute-lse/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-chart">
    <div class="container">
      <div class="copyright">Copyright © LSE <%= Time.now.year %></div>
    </div>
  </div>
</footer>
