<header class="header <%= 'header__margin' if @current_user.present? %>">
  <div class="search-wrapper">
    <%= react_component("LawsDropdown", {
      recentDate: @search_recent_date,
      recentLaws: @recent_laws,
      recentLitigations: @recent_litigations
    }) %>
  </div>
  <div class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to 'http://www.lse.ac.uk/' do %>
          <img class="navbar-logo" src="<%= asset_path 'logo/LSE_logo.svg'%>" alt="London School of Economics and Political Science" />
        <% end %>
        <%= link_to 'http://www.lse.ac.uk/granthamInstitute' do %>
          <img src="<%= asset_path 'logo/RICCE_logo.svg'%>" alt="Grantham Research Institute on Climate Change and the Environment" />
        <% end %>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field">
              <div class="menu">
                <% if @header_pages.any? %>
                  <% @header_pages.each do |page| %>
                    <a href="<%= page[:slug] %>"><%= page[:title] %></a>
                  <% end %>
                <% end %>
                <% if @both.any? %>
                  <% @both.each do |page| %>
                    <a href="<%= page[:slug] %>"><%= page[:title] %></a>
                  <% end %>
                <% end %>
                <%= link_to 'Climate Laws Publications',
                  'http://www.lse.ac.uk/GranthamInstitute/tag/cclw/',
                  target: "_blank", rel: "noopener noreferrer" %>
              </div>
              <div class="title">
                <%= link_to "Climate Change Laws of the World", cclow_root_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
