<%
  # TODO: Consider to use presenter/decorator/view-model object
  pulications_link = "http://www.lse.ac.uk/GranthamInstitute/?s=#{@geography.slug}&post_type[]=publication&post_type[]=news"
  sidebar_links = [
    {
      label: 'Laws',
      path: cclow_legislation_and_policies_path(geography: [@geography.id], type: ['legislative'], from_geography_page: @geography.name),
      count: @geography_overview.number_of_laws
    },
    {
      label: 'Policies',
      path: cclow_legislation_and_policies_path(geography: [@geography.id], type: ['executive'], from_geography_page: @geography.name),
      count: @geography_overview.number_of_policies
    },
    {
      label: 'Litigation cases',
      path: cclow_litigation_cases_path(geography: [@geography.id], from_geography_page: @geography.name),
      count: @geography_overview.number_of_litigation_cases},
    {
      label: 'Climate targets',
      path: cclow_geography_climate_targets_path(@geography.slug, from_geography_page: @geography.name),
      count: @geography_overview.number_of_targets
    }
  ]
  mobile_links = [
    {
      label: 'Overview and context',
      value: cclow_geography_path(@geography.slug)
    }
  ] + sidebar_links.map {|v| {label: "#{v[:label]} (#{v[:count]})", value: v[:path]}}
%>

<% content_for :content do %>
  <div class="cclow-geography-page">
    <div class="container">
      <div class="title-page">
        <%= @geography.flag_image %>
        <h5><%= @geography.name %></h5>
      </div>
      <hr class="is-hidden-touch">
      <%= react_component("MobileNavigateMenu", {options: mobile_links}) %>
      <div class="columns">
        <aside class="column is-one-quarter-desktop is-hidden-touch">
          <ul class="sidebar">
            <li><%= active_link_to 'Overview and context', cclow_geography_path(@geography.slug), active: :exclusive %></li>
            <% sidebar_links.each do |link| %>
              <li><%= active_link_to "#{link[:label]} (#{link[:count]})", link[:path], active: :inclusive %></li>
            <% end %>
          </ul>

          <%= yield :sidebar %>
        </aside>
        <main class="column is-three-quarters-desktop">
          <%= yield %>
        </main>
      </div>
    </div>
    <div class="publications-banner columns is-hidden-touch">
      <div class="column is-half">
        <div>
          <div><a target="_blank" href="<%= pulications_link %>">Read related publications</a></div>
          <div>from the Grantham Research Institute</div>
        </div>
      </div>
      <div class="column is-half img-container">
        <img src="<%= asset_path 'cclow/publications_banner.png' %>" alt="">
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/cclow" %>
