<div class="details">
  <p>
    <b>Jurisdiction: </b> <%= litigation.jurisdiction %>
  </p>
  <br>
  <% if litigation.legislations.any? %>
    <p>
      <b>Principle law(s): </b> <%= litigation.legislations.map(&:title).join(',') %>
    </p>
    <br>
  <% end %>
  <% @litigation_sides.each do |side| %>
    <p>
      <b>Side <%=side.side_type.upcase %>: </b> <%= side.name %> (<%= side.party_type.humanize %>)
    </p>
    <br>
  <% end %>
  <% if litigation.at_issue.present? %>
    <p>
      <b>Core objectives: </b><%= litigation.at_issue.html_safe %>
    </p>
  <% end %>
</div>
