<div class="content-show">
  <h3 class="title"><%= @litigation.title %></h3>
  <div class="meta">
    <div>
      <span>Passed in <%= @litigation.started_event&.date&.year %></span>
      <span class="icon"><i class="fa fa-question"></i></span>
    </div>
    <div><span>Mitigation</span></div>
  </div>
  <section>
    <%= render 'cclow/geography/litigation_cases/details_card', litigation: @litigation %>
  </section>
  <section>
    <h5>Timeline of events</h5>
    <% if @litigation.events.present? %>
      <%= render 'cclow/geography/litigation_cases/events', events: @litigation.events %>
    <% end %>
  </section>
  <hr>
  <section>
    <%= @litigation.summary&.html_safe %>
  </section>
  <section>
    <h5>Case documents</h5>
    <ul class="documents-list">
      <% @litigation.documents.each do |document| %>
        <li class="columns">
          <span class="document-icon column is-1">
            <i class="fa fa-lg fa-file-pdf-o"></i>
          </span>
          <a href="#" class="column is-11"><%= document.name %></a>
        </li>
      <% end %>
    </ul>
  </section>
  <hr>
  <section class="container">
    <h5>Related laws and policies</h5>
    <ul class="content-list">
      <% @legislations.each do |l| %>
        <%= render 'cclow/geography/legislations/list_item', title: l.link,
                   description: l.description,
                   legislation_type: l.legislation_type,
                   date_passed: l.date_passed %>
      <% end %>
    </ul>
  </section>
</div>
