<% content_for :page_title, "Climate Laws - #{@geography.name} - #{@litigation.title}" %>

<% content_for :sidebar do %>
<div class="sidebar__categories">
  <hr />

  <% if @responses.count > 0 %>
    <div class="categories__container">
      <p class="categories__title">Responses</p>

      <div class="categories_tags">
        <% @responses.each do |response| %>
          <span class="tag categories__tag"><%= response.name %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @sectors.count > 0 %>
    <div class="categories__container">
      <p class="categories__title">Sectors</p>

      <div class="categories_tags">
        <% @sectors.each do |sector| %>
          <span class="tag categories__tag"><%= sector.name %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @keywords.count > 0 %>
    <div class="categories__container">
      <p class="categories__title">Keywords</p>

      <div class="categories_tags">
      <% @keywords.each do |keyword| %>
        <span class="tag categories__tag"><%= keyword.name %></span>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<div class="content-show">
  <h3 class="title"><%= @litigation.title %></h3>
  <section class="section is-medium">
    <%= render 'cclow/geography/litigation_cases/details_card', litigation: @litigation %>
  </section>
  <% if @litigation.events.present? %>
    <section class="section is-medium">
      <%= react_component("EventsTimeline", { events: @litigation.events.order(:date) }) %>
    </section>
  <% end %>
  <hr>
  <section class="section is-medium">
    <h5>Summary</h5>
    <%= @litigation.summary&.html_safe %>
  </section>
  <% if @litigation.documents.present? %>
    <section class="section is-medium">
      <h5>Case documents</h5>
      <%= render 'documents_list', documents: @litigation.documents %>
    </section>
  <% end %>
  <hr>
  <% if @legislations.present? %>
    <section class="section is-medium">
      <h5>Related laws and policies</h5>
      <%= render 'related_laws_list', legislations: @legislations %>
    </section>
  <% end %>
</div>
