<div class="pages__content text-description">
  <% if content.images.any? %>
    <div class=<%= content.images.length > 1 ? 'pages__content-logos' : 'pages__content-logo'%>>
      <% content.images.order(:name).each do |image| %>
        <% if image.logo.present? %>
          <% if content.images.length > 1 %>
            <%= link_to(image_tag(image.logo, alt: image.name), image.link) %>
          <% else %>
            <div style="background-image: url(<%= url_for(image.logo) %>)"></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="pages__description">
    <h4 class="pages__content-subtitle"><%= content.title %></h4>
    <%= content.text.html_safe %>
  </div>
</div>
