<div class="banner is-hidden-mobile">
  <div class="container">
    <div class="columns">
      <div class="column is-3 logo">
        <img src="<%= asset_path 'logo/TPI_logo@2x.png' %>" class="banner__logo">
      </div>
      <div class="column is-offset-2 partners__container">
        <p class="content is-size-7">In partnership with:</p>

        <div class="columns partners">
          <div class="column">
            <img src="<%= asset_path 'partners/partner_01/partner_01@2x.png' %>" alt="" class="banner__partner">
          </div>
          <div class="column">
            <img src="<%= asset_path 'partners/partner_02/partner_02@2x.png' %>" alt="" class="banner__partner">
          </div>
          <div class="column">
            <img src="<%= asset_path 'partners/partner_03/partner_03@2x.png' %>" alt="" class="banner__partner">
          </div>
          <div class="column">
            <img src="<%= asset_path 'partners/partner_04/partner_04@2x.png' %>" alt="" class="banner__partner">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>