<!DOCTYPE html>
<html>
  <head>
    <title>Laws & Pathways</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'cclow' %>
    <%= stylesheet_link_tag 'tpi' %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
