<!DOCTYPE html>
<html>
  <head>
    <title>Laws & Pathways</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'tpi' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
