<!DOCTYPE html>
<html>
  <head>
    <title>CCLOW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'cclow' %>
    <%= javascript_pack_tag 'cclow' %>
  </head>
  <body>
    <% if controller_name == 'home' && action_name == 'index'  %>
      <%= render "cclow/home/hero" %>
    <% else %>
      <%= render "layouts/cclow/header" %>
    <% end %>
    <main>
      <div class="container">
        <%= render_breadcrumb %>
        <div>
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>
    </main>
    <%= render "layouts/cclow/footer" %>
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153841121-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153841121-2');
      </script>
    <% end %>
  </body>
</html>
