<!DOCTYPE html>
<html>
  <head>
    <title>CCLOW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'cclow' %>
    <%= javascript_pack_tag 'cclow' %>
  </head>
  <body>
      <%= render "layouts/cclow/header" %>
    <main>
      <div class="container">
        <%= render_breadcrumb %>
        <div>
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>
    </main>
    <footer>
      Footer
    </footer>
  </body>
</html>
