<!DOCTYPE html>
<html>
  <head>
    <title>CCLOW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'cclow', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'cclow' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
