<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% title = 'Climate Change Laws of the World' %>
    <% description = "Climate change Laws of the World and Climate Change Litigation of the World build on several years of data collection by both the Grantham Research Institute and the Sabin Center, including the collaboration of Grantham Institute with GLOBE International on a series of Climate Legislation Studies."%>
    <% img_src = image_url('cclow.png', skip_pipeline: true) %>

    <meta itemprop="name" content="<%= title %>">
    <meta itemprop="description" content="<%= description %>">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="climate change,legislation,laws,policies,litigation cases">
    <meta name="author" content="Vizzuality">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= img_src %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter Card data -->
    <meta name="twitter:site" content="@GRI_LSE"/>
    <meta name="twitter:title" content="<%= title %>"/>
    <meta name="twitter:creator" content="@GRI_LSE"/>
    <meta name="twitter:description" content="<%= description %>"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="<%= img_src %>"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/cclow/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/cclow/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/cclow/favicon-16x16.png">
    <link rel="manifest" href="/cclow/site.webmanifest">
    <link rel="mask-icon" href="/cclow/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag 'cclow' %>
    <%= javascript_pack_tag 'cclow' %>
  </head>
  <body>
    <%= render "layouts/cclow/fixed-navbar" %>
    <% if controller_name == 'home' && action_name == 'index'  %>
      <%= render "cclow/home/hero" %>
    <% else %>
      <%= render "layouts/cclow/header" %>
    <% end %>
    <main>
      <div class="container">
        <%= render_breadcrumb %>
        <div>
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>
    </main>
    <%= render "layouts/cclow/footer" %>
    <% if cookies && cookies['cookies_consented'] != 'true' %>
      <%= render "layouts/cclow/cookies_tooltip" %>
    <% end %>
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153841121-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153841121-2');
      </script>
    <% end %>
  </body>
</html>
