<!DOCTYPE html>
<html lang="en">
  <head>
    <% title = content_for?(:page_title) ? content_for(:page_title) : 'Transition Pathway Initiative' %>
    <% description = content_for?(:page_description) ? content_for(:page_description) : "The Transition Pathway Initiative (TPI) is a global, asset-owner led initiative which assesses companies' preparedness for the transition to a low carbon economy." %>

    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% img_src = image_url("tpi.jpg", skip_pipeline: true) %>

    <meta itemprop="name" content="<%= title %>">
    <meta itemprop="description" content="<%= description %>">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="Low-carbon economy,climate change,private sector,asset managers,global initiative">
    <meta name="author" content="Vizzuality">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= img_src %>">
    <meta property="og:url" content="<%= request.original_url %>">

    <!-- Twitter Card data -->
    <meta name="twitter:site" content="@tp_initiative"/>
    <meta name="twitter:title" content="<%= title %>"/>
    <meta name="twitter:creator" content="@tp_initiative"/>
    <meta name="twitter:description" content="<%= description %>"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="<%= img_src %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/tpi/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/tpi/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/tpi/favicon-16x16.png">
    <link rel="manifest" href="/tpi/site.webmanifest">
    <link rel="mask-icon" href="/tpi/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <% if ie_browser? %>
      <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2Ces5%2Ces6%2CArray.prototype.filter%2CArray.prototype.find%2CArray.prototype.findIndex%2CArray.prototype.flat%2CArray.prototype.flatMap%2CArray.prototype.includes%2CDate.prototype.toISOString%2CObject.entries%2CObject.values%2CString.prototype.repeat%2Cfetch"></script>
    <% end %>

    <%= stylesheet_link_tag 'tpi' %>
    <%= javascript_pack_tag 'tpi' %>

    <% if Rails.env.production? %>
      <script defer data-domain="transitionpathwayinitiative.org" src=https://plausible.io/js/script.js></script>
    <% end %>
  </head>
  <body>
    <%= render "layouts/tpi/fixed-navbar" %>
    <section class="tpi__banner is-hidden-touch <%= 'header__margin' if @current_user.present? %>">
      <%= render "layouts/tpi/banner" %>
    </section>

    <section class="tpi__navbar <%= 'tpi__navbar-margin' if @current_user.present? %>">
      <%= render "layouts/tpi/header" %>
    </section>

    <%= yield %>

    <footer>
      <%= render "layouts/tpi/footer" %>
    </footer>
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153841121-1"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-153841121-1');
      </script>
    <% end %>
  </body>
</html>
