<!DOCTYPE html>
<html>
  <head>
    <title>TPI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'tpi' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'tpi' %>
  </head>
  <body>
    <section class="tpi--banner">
      <%= render "layouts/banner" %>
    </section>

    <section class="tpi--navbar">
      <%= render "layouts/header" %>
    </section>

    <%= yield %>

    <footer class="footer">
      <section class="section subscribe">
        <%= render "layouts/subscribe" %>
      </section>

      <section class="section">
        <%= render "layouts/footer" %>
      </section>
    </footer>
  </body>
</html>
