<!DOCTYPE html>
<html>
  <head>
    <title>TPI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'tpi' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'tpi' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
