<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tpi' %>
    <%= javascript_pack_tag 'tpi' %>
  </head>
  <body>
    <section class="tpi__banner is-hidden-touch">
      <%= render "layouts/banner" %>
    </section>

    <section class="tpi__navbar">
      <%= render "layouts/header" %>
    </section>

    <%= yield %>

    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
