<!DOCTYPE html>
<html>
  <head>
    <title>TPI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'tpi' %>
    <%= stylesheet_pack_tag 'tpi' %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
