<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tpi' %>
    <%= javascript_pack_tag 'tpi' %>
  </head>
  <body>
    <section class="tpi__banner is-hidden-touch">
      <%= render "layouts/banner" %>
    </section>

    <section class="tpi__navbar">
      <%= render "layouts/header" %>
    </section>

    <%= yield %>

    <footer>
      <%= render "layouts/footer" %>
    </footer>
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153841121-1"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-153841121-1');
      </script>
    <% end %>
  </body>
</html>
